.ddgb_wrapper {
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	font-size: 90%;
}
.ddgb_wrapper a img {
	border: none;
}
.ddgb_wrapper a {
	color: #005abe;
}
.ddgb_wrapper a:hover {
	color: #CC3366;
}
.ddgb_entry {
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
	margin: 0 0 15px 0;
	padding: 8px 10px 8px 10px;
	text-align: left;
}
.mod {
	background: #005abe;
	color: #FFFFFF;
	display: inline;
	padding: 1px 10px 1px 10px;
	margin-right: 10px;
}
.mod a {
	color: #FFFFFF;
}
.mod a:hover {
	color: #CCCCCC;
}
.ddgb_entry p {
	margin: 0 0 8px 0;;
	padding: 0;
	line-height: 130%;
	color: #444444;
}
.ddgb_entry h2 {
	margin: 3px 0 0 0;
	padding: 0;
	font-size: 100%;
	color: #555555;
	letter-spacing: 1px;
	font-weight: bold;
}
.ddgb_info {
	font-size: 90%;
	color: #555555;
	float: right;
	margin: 0 0 5px 10px;
	text-align: right;
	line-height: 140%;
}
.ddgb_admin {
	font-size: 85%;
	color: #555555;
	text-align: right;
	padding: 3px 8px 3px 8px;
	border: 1px solid #BBBBBB;
	background: #E0E0E0;
}
.ddgb_h {
	font-weight: bold;
}
.ddgb_entrybox {
	text-align: left;
}
.ddgb_entrybox h2 {
	margin: 0;
	padding: 0;
	font-size: 140%;
	color: #777777;
	letter-spacing: 1px;
}
.ddgb_entrybox input {
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
}
.ddgb_entrybox textarea {
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
}
.ddgb_entrybox table {
	font-size: 90%;
	color: #666666;
}
.ddgb_entrybox li {
	margin: 0 0 5px 0;
}
.ddgb_nav {
	text-align: left;
}
.ddgb_smiles {
	font-weight: bold;
	font: 110% 'Courier New', Courier, Fixed;
	color: #505050;
	margin-bottom: 10px;
}
.ddgb_smiles img {
	margin: 2px 8px 0 0;
}
