<input type="hidden" id="mode" name="mode" value="combat">
<input type="hidden" id="command" name="command" value="">
<table style="width:500px;"> 
	<tr>
		<td class="td1" width="500px">
			<div>
				要采取什么行动？
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2" width="500px">
			<div>
				<div>向对手大喊：<input size="45" type="text" name="message" maxlength="45"></div>
				<div class="cmdbtn" onclick="$('command').value='natk';postCommand();">$attinfo[$wp_kind]</div>
				<!--{if $techcmd}-->
					<!--{loop $techcmd $cval $tval}-->
						<div class="cmdbtn" onclick="$('command').value='$cval';postCommand();">{$tval['name']} ({$tval['dsp']})</div>
					<!--{/loop}-->
				<!--{/if}-->
				<div class="cmdbtn" onclick="$('command').value='back';postCommand();">{lang escape}</div>
			</div>
		</td>
	</tr>
</table>