<table style="border:0;width:400px;height:400px">
	<tr>
		<td align="center" style="width:100px;height:400px;">
			<div class="battletitle">
				$battle_title
			</div>
		</td>
		<td style="width:300px;vertical-align:top">
			<table style="border:0;width:300px">
				<tr>
					<td class="td1" style="height:30px">
						<div>
							{lang hp} $edata['display']['hpstate']
						</div>
					</td>
					<td class="td1">
						<div>
							{lang sp} $edata['display']['spstate']
						</div>
					</td>
				</tr>
				<tr>
					<td class="td2" style="height:30px">
						<div>
							{lang pose} $edata['display']['pose']
						</div>
					</td>
					<td class="td2">
						<div>
							{lang tactic} $edata['display']['tactic']
						</div>
					</td>
				</tr>
				<tr>
					<td class="td2" colspan="2">
						<table style="border:0;text-align:right;width:300px;height:80px;table-layout:fixed">
							<tr>
								<td colspan="2">
									<div>{$edata['display']['gamehonourinfo']}</div>
								</td>
								<td width="140px" height="80px" rowspan="3">
									<div>
										<IMG src="img/$edata['display']['iconImg']" height=80px border="0" align="middle" <!--{if $edata['hp']<=0}-->style="filter:Xray()"<!--{/if}--> />
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="nameline"><span>{$edata['display']['name']}</span></div>
								</td>
							</tr>
							<tr>
								<td width=50%>
									<div>{$edata['display']['sNoinfo']}</div>
								</td>
								<td width=50%>
									<div>{lang level} <span class="val">Lv. $edata['display']['lvl']</span></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="td2" style="height:30px" colspan="2">
						<div>
							{lang inf} $edata['display']['infdata']
						</div>
					</td>
				</tr>
				<tr>
					<td class="td2" style="height:40px" colspan="2">
						<!--{if $edata['display']['wepk']}-->
							<div>
								{lang wep} $edata['display']['wepk'] $edata['display']['wepestate']
							</div>
							<div>
								<span class="val" style="font-size:16px">$edata['display']['wep']</span>
							</div>
						<!--{else}-->
							<div>
								{lang wep} <span class="val" style="font-size:16px">$GLOBALS['nowep']</span>
							</div>
						<!--{/if}-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>