	<table style="width:500px;height:200px;border:0;cellspacing:0;cellpadding:0;table-layout:fixed">
		<tr>
			<td class="td1">
				<div style="height:20px">{lang chat}</div>
			</td>
		</tr>
		<tr>
			<td valign="top" class="td2" style="text-align: left">
				<div id="chatlist" class="chatlist" style="height:120px;width:490px;word-break:break-all;overflow:auto;position:relative;">
				</div>
			</td>
		</tr>
		<tr>
			<td class="td2">
				<div style="height:30px">
					<form type="post" id="sendchat" name="sendchat" action="chat.php" onsubmit="return false;" stype="MARGIN:0px;padding:0px;border:0px">
						<input type="hidden" id="lastcid" name="lastcid" value="">
						<input type="hidden" id="sendmode" name="sendmode" value="ref">
						<span id="chattype">
							<select name="chattype" value="4">
								<option value="0" selected>$chatinfo[0]
								<option value="1" >$chatinfo[1]
								<option value="2" >$chatinfo[2]
								<option value="4" >$chatinfo[4]
							</select>
						</span>
						<input type="text" id="chatmsg" name="chatmsg" maxlength="60" style="width:320px;">
						<input type="button" id="send" onClick="document['sendchat']['sendmode'].value='send';chat('send',$chatrefresh);return false;" value="{lang send}">
						<input type="button" id="ref" onClick="document['sendchat']['sendmode'].value='ref';chat('ref',$chatrefresh);return false;" value="{lang refresh}">
					</form>
					<script type="text/javascript">chat('ref',$chatrefresh);</script>
				</div>
			</td>
		</tr>
	</table>