<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="">
<input type="hidden" id="subcmd" name="" value="">
<table style="width:500px;">
	<tr>
		<td class="td1" height="25px">
			<div>
				{lang packmenu}
			</div>
		</td>
		<td class="td1">
			<div>
				{lang restmenu}
			</div>
		</td>
		<td class="td1">
			<div>
				{lang spmenu}
			</div>
		</td>
		<!--{if $gamestate < 40 && $pdata['type'] == 0}-->
			<td class="td1">
				<div>
					{lang teammenu}
				</div>
			</td>
		<!--{/if}-->
		<td class="td1">
			<div>
				{lang cpmenu}
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2" valign="top">
			<div>
				<div class="cmdbtn"  onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemmerge';postCommand();">{lang itemmerge}</div>
				<div class="cmdbtn"  onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemoff';postCommand();">{lang itemoff}</div>
				<div class="cmdbtn" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemdrop';postCommand();">{lang itemdrop}</div>
				<div class="cmdbtn" onclick="$('command').value='itemmain';$('subcmd').name='itemcmd';$('subcmd').value='itemmix';postCommand();">{lang itemmix}</div>
			</div>
		</td>
		<td class="td2" valign="top">
			<div>
				<div class="cmdbtn"  onclick="$('command').value='rest1';postCommand();">睡眠</div>
				<div class="cmdbtn"  onclick="$('command').value='rest2';postCommand();">治疗</div>
				<!--{if in_array('HOSPITAL',$mapdata[$pdata['pls']]['function'])}-->
				<div class="cmdbtn"  onclick="$('command').value='rest3';postCommand();">静养</div>
				<!--{/if}-->
			</div>
		</td>
		<td class="td2" valign="top">
			<div>
				<!--{if in_array('SHOP',$mapdata[$pdata['pls']]['function'])}-->
				<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_shop';postCommand();">进入商店</div>
				<!--{/if}-->
				<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_pose';postCommand();">基础姿态</div>
				<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_tac';postCommand();">应战策略</div>
				<!--{if $pdata['inf']}-->
					<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_inf';postCommand();">包扎伤口</div>
				<!--{/if}-->
				<!--{if ($pdata['type'] == 0&&$canlearntech)}-->
					<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_tech';postCommand();">学习技能</div>
				<!--{/if}-->
				<!--{if $pdata['club'] == 7}-->
					<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_adtsk';postCommand();">武器带电</div>
				<!--{/if}-->
				<!--{if $pdata['club'] == 8}-->
					<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_poison';postCommand();">检查毒物</div>
				<!--{/if}-->
				<!--{if $pdata['club'] == 8}-->
					<div class="cmdbtn"  onclick="$('command').value='special';$('subcmd').name='sp_cmd';$('subcmd').value='sp_adtsk';postCommand();">武器淬毒</div>
				<!--{/if}-->
			</div>
		</td>
		<!--{if $gamestate < 40 && $pdata['type'] == 0}-->
			<td class="td2" valign="top">
				<div>
					<!--{if empty($pdata['teamID'])}-->
						<div class="cmdbtn"  onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teammake';postCommand();">组建队伍</div>
						<div class="cmdbtn"  onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teamjoin';postCommand();">加入队伍</div>
					<!--{else}-->
						<div class="cmdbtn"  onclick="$('command').value='team';$('subcmd').name='teamcmd';$('subcmd').value='teamquit';postCommand();">脱离队伍</div>
					<!--{/if}-->
				</div>
			</td>
		<!--{/if}-->
		<td class="td2" valign="top">
			<div>
				<!--{if $pdata['company'] > 0 && $cdata['hp'] > 0 && $companysystem}-->
				<div class="cmdbtn"  onclick="$('command').value='switch';postCommand();">交换操控角色</div>
				<div class="cmdbtn"  onclick="$('command').value='company';$('subcmd').name='cp_cmd';$('subcmd').value='senditem';postCommand();">递送物品</div>
				<!--{/if}-->
			</div>
		</td>
	</tr>
</table>