<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="back">
<table style="width:500px;">
	<tr>
		<td class="td1" style="height:30px">
			<div>
				<span class="red" style="font-size:18px">你死了。</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<!--{if $pdata['type']==0}-->
					<div class="cmdbtn" onclick="location.href='end.php'">{lang ok}</div>
				<!--{elseif $pdata['type']==100}-->
					<div class="cmdbtn" onclick="location.href='game.php'">{lang switch}</div>
				<!--{/if}-->
			</div>
		</td>
	</tr>
</table>