<input type="hidden" id="mode" name="mode" value="deathnote">
<input type="hidden" id="command" name="command" value="">
<input type="hidden" name="item" value="$item">
<table style="width:500px;">
	<tr>
		<td class="td1" style="height:25px">
			<div>
				■ Death Note ■
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div style="text-align:left">请写下对方的名字<input size="15" type="text" name="dnname" maxlength="15"></div>
				<div style="text-align:left">请写下对方的死因<input size="20" type="text" name="dndeath" maxlength="20">(20字以内，不填为“心脏麻痹”)</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="cmdbtn" onclick="postCommand();">落下最后一笔</div>
				<div class="cmdbtn" onclick="$('mode').value='command';$('command').value='back';postCommand();">{lang back}</div>
			</div>
		</td>
	</tr>
</table>