{template header}

<!--{if $hp <= 0}-->
<div class="subtitle" >你已经便当了！</div>
<IMG src="img/$iconImg" width="70" height="70" border="0" align="middle" style="filter:Xray()">
<span class = "yellow b">$motto</span><br>
便当时间：$dtime<br>
便当原因：<!--{if $dinfo[$state]}-->$dinfo[$state]<!--{else}-->未知原因<!--{/if}--><br>
凶手：<!--{if $kname && $state>=20}-->$kname<!--{else}-->无<!--{/if}--><br>

<img src="Lilyw.gif" align="middle"><br>
<h1>祝下次游戏好运！<h1>
<!--{elseif $gamestate === 0}-->
	<!--{if $winmode == 2}-->
	<div class="subtitle" >游戏结束</div>
<p>
噗通。<BR>
眼前，浑身是血的萌友直勾勾地盯着我，然后跪倒在地。<BR>
血从他身上那可怖的伤口里，像喷泉一样涌出来。<BR>
我和他双目对视，看着他眼中的生命之火迅速熄灭。<BR>
又一个，死了。
</p><p>
“恭喜你成为优胜者，咱的预感果然没有错。”<BR>
这个声音，是林无月！为什么她的声音会直接出现在我的脑海里？<BR>
“稍等片刻，马上就放你出去。好好等着哦。”
</p><p>
是嘛……我活下来了啊，最后我终于活下来了啊！哈哈，啊哈哈哈……<BR>
我呆滞地笑着，抬头望向苍天。<BR>
身边的景物开始模糊崩坏。<BR>
虚拟世界的运行，马上就要被停止了吧。这之后，那个林无月，真的会放我出去吗？<BR>
还是说，这也只是她的一个阴谋？<BR>
不过，我没功夫考虑那么多了。
</p><p>
高度紧绷的心弦断开的一瞬间，睡意便马上袭来。<BR>
数个小时的生死搏斗之后，疲惫的身体开始失去知觉，紧张的神经开始不听使唤。<BR>
不能睡去，要警觉！但是，尽管我拼命地提醒自己，倦意还是把我整个笼罩了。<BR>
视野开始模糊了，我无可挽回地沉入了梦乡。
</p><p>
……<BR>
……<BR>
……
</p><p>
在我眼前，只剩下头颅的萌友说：<BR>
“你比杨叔还厉害嘛，人都给你杀光了。”<BR>
在我身后，失去一半身体的技术帝说：<BR>
“说什么‘出去以后，要一起去信小黄’的人，不是你吗！”<BR>
一旁黑暗的角落传来了怒吼：<BR>
“SB！”<BR>
说些什么也好，但是怎么也说不出来……好容易发出点声来，但是却哽咽着：<BR>
“才……才不是什么SB呢！大家都是萌友啊！可是，可是……以前都活着……”
</p><p>
……<BR>
……<BR>
……
</p><p>
身体的摇晃感，让我苏醒过来。<BR>
似乎，身在奇怪的车辆之中。旁边身穿黑衣的男子朝这边瞟了一眼，又转过头去。<BR>
膝盖上有张纸条。拾起一看，只有一行小字：<BR>
“待会见记者。不要做你不该做的事。林无月”<BR>
这难看而冷酷的词句让我刚刚放下的心再度悬了起来。<BR>
就算逃到现实中，也还是没法摆脱梦魇吗？
</p><p>
突然，车门打开了。让人睁不开眼的闪光灯的浪潮中，无数话筒伸了过来。<BR>
我漠然地抬起头。<BR>
挤到最前排的记者们推搡着，在警察的阻挡下努力向我靠近。<BR>
一个看不清的面孔凑了上来，拿着话筒像连珠炮一样发问着：<BR>
“……动漫会展……事故……唯一生还者……失忆……采访……首先……名字是？……”<BR>
未曾料到的情况冲击着我的神经。<BR>
事故？失忆？……<BR>
在我昏睡的时候，那个林无月，把一切都篡改了吗？
</p><p>
不过，不论如何，这是在现实。<BR>
这不是大逃杀的野蛮国度，而是有法律的文明世界。<BR>
不会再有你死我活的追杀和赤裸裸的生命威胁了。<BR>
只要我把一切说出，众目睽睽之下，就算神通广大如林无月，也没法把我怎么样吧！
</p><p>
在下一个闪光亮起的一瞬间，我以人生中最高亢的声调喊出：<BR>
「 <span class="yellow">$sexinfo[$gd] $sNo 号 $name</span> 」 <BR>
然后，不顾众人惊愕的目光，以自己都不敢相信的语速，将这次大逃杀的参与者、死在我手下的众萌友们的名字，一一报出。
</p><p>
支撑着我胜出的，是复仇的信念。<BR>
逃出这个虚拟的魔窟，然后把实情告诉每一个人。<BR>
让那个疯狂的林无月，受到她应有的制裁。<BR>
为了这样做，就只能……<BR>
就只能，把同一阵线的萌友们，全部杀光……<BR>
这就是，我的信念。<BR>
我会继承你们的生命，带着你们的仇恨、你们的希望，努力地活下去。<BR>
就算后半生只能在噩梦中挣扎，就算今后的笑容里都带着泪光，我也要、我也要……」
</p><p>
“大家都死了……但是、大家都在这里，都活在这里啊！”<BR>
接下来，在表情错愕的警察面前，<BR>
在震惊之余记录下每一句话的记者面前，<BR>
在捂住嘴巴不敢发声的围观的路人面前，<BR>
我坚定地、一字一句地，将那十数个小时的地狱之行，和盘托出。
</p><p>
……<BR>
……<BR>
……
</p><p>
某月某日，空无一人的ACG祭会场。<BR>
参加会展的仪器都已经搬空，偌大的会场里，只有大屏幕还在显示着新闻。<BR>
“……警方对前段日子的ACG祭事件的调查已经告一段落，现在让我们来回顾一下事件的始末……”<BR>
会场里仅有的一名黑衣男子，似乎对这爆炸性的新闻丝毫不感兴趣，自顾自地打着手机。<BR>
“无月君，还真有你的。你是怎么样逃过一劫的啊？”<BR>
“哼，不要太小看咱了。你认为咱会让任何一个人回到现实世界嘛？”听声音，对方是个女子。<BR>
“啊哈哈，我可什么都没说哦，”男子笑道，随后压低了声音，“这次的行动十分顺利。那么，下次还继续么？”<BR>
“那当然。如果用上‘那个’的话，或许下一次的行动会更加有趣。”<BR>
“那么，就让我好好期待吧。”<BR>
男子挂上了手机，低语道：“如果你还能做得到的话，林无月……”
</p>

	<!--{elseif $winmode == 3 && $state == 6}-->
	<div class="subtitle" >游戏紧急中止</div>
<p>
“哈……哈……”我疲惫地呼吸着。<br>
林无月，之前在开幕仪式上口出狂言的这个女人，如今面朝下静静地躺在血泊之中。<br>
她虽然换上了一件非常结实的作战服，但仍不敌我的攻击。<br>
那华丽的防护服如今已经被撕成碎片，同她的身躯一样千疮百孔。<br>
这样的身躯，绝然不会再有生还的希望。<br>
“你也有今天，恶魔。”我朝尸体的方向恶狠狠地啐了一口。<br>
忽然，倒在地上了无生气的尸体仿佛变得透明了。<br>
我吃了一惊，定睛再望，地上哪里还有什么尸体的踪影。
</p><p>
“能够将咱的全息幻象击倒，真是可喜可贺。”林无月的声音响起，似乎是直接从我的脑内传出。<br>
“不过，这整个虚拟现实世界，都是我的玩具而已。就凭你那三脚猫的攻击，根本不能拿我怎么样。”<br>
“虽然这种违反游戏规则的行为理应受到处罚，”她的语气听上去就像在评论一部三流新番，<br>
“不过我敬佩你的胆识和能力，因此就不予追究了。”<br>
“那么，这是给你的奖品，好好利用吧。”<br>
随着声音的消失，我的手中凭空出现一张钥匙卡。<br>
这大概就是中止这场闹剧的关键了吧。
</p><p>
“GAME OVER！这个游戏已经完了！”我利用钥匙赋予的通讯机能向所有仍生还的萌友们宣布，“已经不用再互相残杀了！”<br>
之后，兴味索然地坐了下来。<br>
“什么‘奖品’……难道我们只不过是玩具吗？难道萌友的生命就跟玩具一样，应当受人摆弄吗？……”<br>
意识深处早已义愤填膺，但是我强忍怒火，装作懒洋洋地把玩着已经失去意义的武器。<br>
她说的没错。就凭我的攻击，什么都做不到。<br>
诚然我能够在游戏中胜出，但是如果整个世界都是这个女人的意志，我能够同这整个世界对抗吗？<br>
我歪着脑袋，思考着这个问题。
</p><p>
……<BR>
……<BR>
……
</p><p>
远处，收到游戏结束消息的残存的萌友们，正互相搀扶着朝这里聚集而来。<br>
很快，整个世界都将崩溃，而还活着的人将回到现实。<br>
回到数小时前，那个充满友谊与激情的会场。<br>
不过，每个人都知道，曾经的我们已经回不去了。
</p><p>
沐浴血雨之后，便不再相信阳光。<br>
那一双双狼一般的眼神，宣示着每个人心底的恶魔的苏醒。<br>
而且，那个女人和她的组织肯定不会善罢甘休的。<br>
也许回到现实之后，还有更可怕的噩梦在等待着我们。<br>
那么，接下来应该怎么办呢？
</p><p>
怎么办？不是已经有答案了吗？就在刚才。<br>
世界崩溃之际，我高举拳头指向苍天。<br>
如果能看到自己，那么我脸上洋溢着的笑容必然连自己也会感到惊讶。
</p><p>
I will be back.<br>
我还会再回来。
</p><p>
……<BR>
……<BR>
……
</p><p>
“遭到了相当大的打击嘛，无月君。”不知何时，不知何地，不知何人用戏谑的语气说道。<br>
“那只是幻象而已啦，幻象！”女子的声音。<br>
“为什么在我看来，你却是被打得抱头鼠窜，差一点就逃不出去了呢？”<br>
“……闭嘴。”<br>
“啊哈哈，算我什么都没说……那么，行动还继续吗？”<br>
“当然。下一次，要用‘那个’。”女子似乎下定了决心，“咱，要一雪耻辱。”<br>
“那我可是相当期待哟，Genetic Altered No.3 alter，林无月阁下。”
</p>


	<!--{elseif $winmode == 3}-->
<div class="subtitle" >游戏紧急中止</div>
<p>
脑海中突然传出的声音，让正忙于厮杀的众人不约而同地停了下来。<BR>
本以为会是那个林无月，但却是另一个似曾相识的声音。<BR>
“GAME OVER！这个游戏已经完了！已经不用再相互残杀了！”
</p><p>
真的吗？众人面面相觑。<BR>
不过，既然林无月没有加以干涉，或许这个人说的话是可以相信的。<BR>
难以想象，本以为必然血流成河的这个“游戏”，竟然会以这种方式结束。
</p><p>
“10分钟后会解除所有人的锁定，返回现实世界。还活着的人都给我聚集到管理后台来。”
</p><p>
刚才还打个你死我活的萌友，此刻正有说有笑地向后台走去。<BR>
但是，在欢声笑语的间隙，总会感受到狐疑的眼神的窥视。<BR>
大家正结伴而行。<BR>
大家正踽踽独行。<BR>
数个小时的生死搏杀带来的心灵创伤，或许终此一生都无法磨灭吧。<BR>
那么，接下来应该怎么办呢？
</p><p>
怎么办？不是已经有答案了吗？<BR>
就算永远也无法再次互相信任也好。<BR>
就算等待着我们的是难以想象的梦魇也好。<BR>
至少我们还生还。至少我们还能互相理解。<BR>
那么，就这样走下去吧。<BR>
和萌友们一同走下去。
</p><p>
……<BR>
……<BR>
……
</p><p>
“遭到了相当大的打击嘛，无月君。”不知何时，不知何地，不知何人用戏谑的语气说道。<br>
“那只是幻象而已啦，幻象！”女子的声音。<br>
“为什么在我看来，你却是被打得抱头鼠窜，差一点就逃不出去了呢？”<br>
“……闭嘴。”<br>
“啊哈哈，算我什么都没说……那么，行动还继续吗？”<br>
“当然。下一次，要用‘那个’。”女子似乎下定了决心，“咱，要一雪耻辱。”<br>
“那我可是相当期待哟，Genetic Altered No.3 alter，林无月阁下。”
</p>
	
		<!--{elseif $winmode == 5 && $state == 6}-->
	<div class="subtitle" >核弹引爆</div>
<p>
手中的按钮装置发出刺耳的“哔哔”声。<BR>
真烦，不赶快把这东西丢掉的话，肯定会暴露位置，招来别人的攻击。
</p><p>
“啪。”
看着砸在坚硬的岩石上粉身碎骨的按钮，我感到如释重负般的开心。<BR>
接下来怎么办呢？先继续躲藏吧。马上到整点禁区的时间了，我抬头望着天空，判断着大致的时间。<BR>
忽然，我似乎看到了什么。<BR>
远处的天空中，一颗明亮的星星，渐渐显露出来。<BR>
定睛看去，那其实不是星星，是飞行器一般的东西，正高速划破天空，身后留下清晰可见的尾迹。<BR>
“如果是飞机，那个速度也太快了……”我一边这样想着，一边想转身离开。<BR>
但是，心脏好像被什么拽住了一样，毛骨悚然的感觉瞬间爬满全身，整个人一动也不能动。<BR>
“它在朝这个岛屿飞来……”我失神地望着那越来越近的飞行物体。<BR>
高速飞行的东西已经很近了，圆锥形的脑袋在阳光下反射着耀眼的金光。<BR>
“是导弹啊！该死……”话音未落，我就被千万倍亮于太阳的刺眼光芒所淹没了。
</p><p>
“眼睛、眼睛看不见了！”眼前一片白茫茫，如同患了白内障一般。<BR>
狂风从四面八方涌来，自己被卷到空中，就像破抹布一样被撕扯着。<BR>
再然后，犹如跌入了火焰地狱，皮肤似乎瞬间就蒸发了，灼热的感觉从肺里传来，好像连血液都在沸腾。<BR>
意识早已模糊了。仅存的感觉，是大概早已如枯骨一般的手指，攥着正在融化的武器。<BR>
“可恶……早知道这样，就……”
</p><p>
崩坏的感官最终归于沉寂。
</p><p>
……<BR>
……<BR>
……
</p><p>
“没有料到吧，无月君，”不知何处，不知何人的声音，“你的苦心经营的虚拟战场全毁了呢。”<BR>
“哼，那种程度的损失，一个指令就解决了。”不满的女声。<BR>
“电子病毒核弹这样的东西，竟然会被安插到那里。看来我们需要重新审视内部的暗流了呢。”<BR>
“咱的时间可是很宝贵的，这次的事情由你们负全责。”<BR>
“那是那是，无月君，”正体不明的声音笑道，“那么，下一轮的‘那个’，就继续拜托你了。”
</p>


	<!--{elseif $winmode == 5}-->
	<div class="subtitle" >核弹引爆</div>
<p>
突然间划破天空的飞行物体，让正在厮杀的众人不约而同地停了下来。<BR>
那震耳欲聋的尖锐呼啸声，让人不寒而栗。<BR>
“啪”是萌友的武器掉落在地上的声音。<BR>
“不好！那东西——快逃——”<BR>
话音未落，那飞行物体就坠落在岛屿的中心位置。随之而来的强烈闪光让所有人的眼睛都一阵烧灼。<BR>
“核弹……？”刚才还血战着的技术帝，此刻呆若木鸡。烧焦的碎屑从他朝向爆炸点的皮肤上片片剥落。<BR>
有萌友反应过来，扭头就跑，还没跑出两步，就被呼啸而至的巨大的冲击波压倒在地……
</p><p>
世界在燃烧。<BR>
骨头似乎都碎了，沸腾的血液连同熟透的器官一起洒了一地，千疮百孔的身体如同破娃娃，支撑着自己活到现在的信念早已分寸尽断。<BR>
“是谁……引爆了核弹？”沙哑的、夹杂着咕噜声的非人类的声音有气无力地喃喃道。<BR>
“如果……还有……一定要……爆ta菊花……哈、哈哈……”
</p><p>
崩坏的感官最终归于沉寂。
</p><p>
……<BR>
……<BR>
……
</p><p>
“没有料到吧，无月君，”不知何处，不知何人的声音，“你的苦心经营的虚拟战场全毁了呢。”<BR>
“哼，那种程度的损失，一个指令就解决了。”不满的女声。<BR>
“电子病毒核弹这样的东西，竟然会被安插到那里。看来我们需要重新审视内部的暗流了呢。”<BR>
“咱的时间可是很宝贵的，这次的事情由你们负全责。”<BR>
“那是那是，无月君，”正体不明的声音笑道，“那么，下一轮的‘那个’，就继续拜托你了。”
</p>

	<!--{/if}-->
<!--{else}-->
不明错误，请返回游戏首页！
<!--{/if}-->

<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>


{template footer}