<table id="eqp" border="0" cellspacing="0" cellpadding="0" align="center" width="700px">
	<tr>
		<td valign="top" >
			<table border="0" cellspacing="0" cellpadding="0">
				<!--{loop array('wep','arb','arh','ara','arf','art') $p}-->
					<tr height="30px">
						<!--{if $pdata[$p.'s']}-->
							<td class="td2" style="width:55px;">
								<div>$pdata['display'][$p.'k_words']</div>
							</td>	
							<td class="td2" style="width:140px;">
								<div><span class="val" style="font-size:14px">$pdata[$p]</span></div>
							</td>						
							<td class="td2" style="width:50px;text-align:left">
								<div>$pdata['display'][$p.'e_words']</div>
							</td>
							<td class="td2" style="width:50px;text-align:left">
								<div>$pdata['display'][$p.'s_words']</div>
							</td>
							<td class="td2" style="width:55px;">
								<div>$pdata['display'][$p.'sk_words']</div>
							</td>
						<!--{else}-->
							<td class="td2" colspan="5" style="width:350">
								<div><!--{if $p == 'wep'}-->{lang wep} $nowep<!--{elseif $p == 'arb'}-->$iteminfo['DB'] $noeqp<!--{elseif $p == 'arh'}-->$iteminfo['DH'] $noeqp<!--{elseif $p == 'ara'}-->$iteminfo['DA'] $noeqp<!--{elseif $p == 'arf'}-->$iteminfo['DF'] $noeqp<!--{elseif $p == 'art'}-->$iteminfo['A'] $noeqp<!--{/if}--></div>
							</td>
						<!--{/if}-->
					</tr>
				<!--{/loop}-->
			</table>
		</td>
		<td width="10">
		</td>
		<td valign="top" >
			<table border="0" cellspacing="0" cellpadding="0">
				<!--{loop array(1,2,3,4,5,6) $i}-->
					<tr height="30px">
						<!--{if $pdata['itms'.$i]}-->
							<!--{if (!isset($mode) || $mode=='command')&&($pdata['hp']>0)}-->
								<td class="td2" style="width:140px;">
									<div class="itmbtn" onclick="$('command').value='itm$i';postCommand();"><span class="val" style="font-size:13px">$pdata['itm'.$i]</span></div>
								</td>		
							<!--{else}-->
								<td class="td2" style="width:140px;">
									<div><span class="val" style="font-size:14px">$pdata['itm'.$i]</span></div>
								</td>
							<!--{/if}-->
							<td class="td2" style="width:55px;">
								<div>$pdata['display']['itmk'.$i.'_words']</div>
							</td>							
							<td class="td2" style="width:50px;text-align:left">
								<div>$pdata['display']['itme'.$i.'_words']</div>
							</td>
							<td class="td2" style="width:50px;text-align:left">
								<div>$pdata['display']['itms'.$i.'_words']</div>
							</td>
							<td class="td2" style="width:55px;">
								<div>$pdata['display']['itmsk'.$i.'_words']</div>
							</td>
						<!--{else}-->
							<td class="td2" colspan="5" style="width:350">
								<div>{lang pack}{$i} $noitm</div>
							</td>
						<!--{/if}-->
					</tr>
				<!--{/loop}-->
			</table>
		</td>
	</tr>
</table>