</div> 
<div width="100%"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
<tr><td colspan="2"> 
<hr> 
</tr></td> 
<tr><td colspan="2"> 
	<div align="center"><a href="http://www.amazingcounter.com"><img border="0" src="http://cb.amazingcounters.com/counter.php?i=2637349&c=7912360" alt="myspace stats"></a><br></div></td> 
<tr><td> 
</td> 
<tr><td> 
	浏览器兼容性：Safari 4，Firefox 3，Maxthon，Chrome测试无误。</td><td> 
	<p style="text-align: right">Firefox请拖拽下拉菜单。IE就是个渣，不如去用Maxthon！</p></tr> 
<tr><td> 
<span class="yellow">注意:系统变更请参照游戏帮助和首页更新。<BR>本GM相信大家都是遵纪守法的好人，不过对违反规则的人们……嗯……<br></font> 

</td><td> 
<p style="text-align: right"> 
<b><font face="Viner Hand ITC" color="#ff0000" style="font-size: 9pt"> 
<a href="http://www.loongyou.com">生存游戏 - BRA简体版V3.0.2 translated by azazil@loongyou.com  </a><br> 
<a href="http://www.b-r-u.net/">BRU (Battle Royale Ultimate) V0.22</a></b></font> 
<a href="http://www.smartdiets.info"><font color="#7b7b7b" size="2">Diet Recipes</font></a> 
<script type="text/javascript" src="http://js.tongji.linezing.com/1646390/tongji.js"></script><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/1646390/tongji.gif"/></a>
</p></tr></td> 
</table> 
</div> 
</body> 
</html> 
{eval output();}