{template header}
<div id="notice"></div>
<center>
	<table style="width:1200px;height:600px;border:0;text-align:left">
		<tr>
			<td style="width:300px;height:400px;vertical-align:top">
				<div id="profile">
					{template profile}
				</div>
			</td>
			<td style="width:400px;height:400px;vertical-align:top;">
				<div id="main" align="right">
					{template main}
				</div>
			</td>
			<td rowspan="2" style="width:500px;vertical-align:top">
				<div id="right">
					{template right}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:700px;vertical-align:top">
				<div id="eqp">
					{template eqp}
				</div>
			</td>
		</tr>
	</table>
</center>
{template footer}