{template header}
<div id="notice"></div>

<table border="0" cellspacing="10" cellpadding="0" align="center">
	<tr valign=top><td>
		<span id="main">
		{template profile}
		<span>
		</td>
		<td rowspan="2">
		<table border="0" width="300" height="550" cellspacing="0" cellpadding="0" >
			<tr>
				<td height="20" class="b1"><div class=nttx><span class="yellow" id="pls">$plsinfo[$pls]</span>【<span class="red">剩余：<span id="anum">$alivenum</span>人</span>】</div></td>
			</tr>
			<tr><td valign="top" class="b3" style="text-align: left">
				<div id="log" class=nttx>
				$log
				</div>
				<div class=nttx>
				<form method="post" id="cmd" name="cmd" style="margin: 0px" >
				<!--{if $state >=1 && $state <= 3}-->
				{template rest}
				<!--{elseif $itms0}-->
				{template itemfind}
				<!--{else}-->
				{template command}
				<!--{/if}-->
				<br /><br />
				<input type="button" id="submit" onClick="postCommand();return false;" value="提交">
				</form>
				</div>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr><td>
		<table id="chat" border="0" width="600" height="200" cellspacing="0" cellpadding="0" background="img/chatting.gif" style="background-position:0px 120px;background-repeat:no-repeat;">
			<tr height="1"><td height="1" width="600" class="b1"><div class=nttx>{lang chat}</div></td></tr>
			<tr ><td valign="top" class="b3" style="text-align: left" height="1px">
				<div id="chatlist" class="chatlist" >
				<!--{loop $chatdata['msg'] $msg}-->
				$msg
				<!--{/loop}-->
				</div>
				<div class=nttx>
				<form type="post" id="sendchat" name="sendchat" action="chat.php" onsubmit="return false;" >
				<input type="hidden" id="lastcid" name="lastcid" value="$chatdata['lastcid']">
				<input type="hidden" id="team" name="team" value="$teamID">
				<input type="hidden" id="sendmode" name="sendmode" value="ref">
				<span id="chattype">
				<select name="chattype" value="2">
				<option value="0" selected>$chatinfo[0]
				<!--{if $teamID}--><option value="1" >$chatinfo[1]<!--{/if}-->
				</select>
				</span>
				<input type="text" id="chatmsg" name="chatmsg" maxlength="60" >
				<input type="button" id="send" onClick="document['sendchat']['sendmode'].value='send';chat('send',$chatrefresh);return false;" value="{lang send}">
				<input type="button" id="ref" onClick="document['sendchat']['sendmode'].value='ref';chat('ref',$chatrefresh);return false;" value="{lang refresh}">
				</form>
				<script type="text/javascript">chat('ref',$chatrefresh);</script>
				</div>
				</td>
			</tr>
		</table>
	</td>
</table>
{template footer}
