<input type="hidden" name="mode" value="hack">
<input type="hidden" name="item" value="$item">

你想要做什么？<br />
<input type="radio" name="hackcmd" id="clean" value="clean"><a onclick=sl('clean'); href="javascript:void(0);" >解除所有禁区</a><br />
<input type="radio" name="hackcmd" id="add" value="add"><a onclick=sl('add'); href="javascript:void(0);" >立刻增加禁区</a><br /><br />
<input type="radio" name="hackcmd" id="back" value="back" checked><a onclick=sl('back'); href="javascript:void(0);" >返回</a><br />
<br />