<input type="hidden" id="mode" name="mode" value="hack">
<input type="hidden" id="command" name="command" value="">
<input type="hidden" name="item" value="$item">
<table style="width:500px;">
	<tr>
		<td class="td1" style="height:25px">
			<div>
				你想要做什么？
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="cmdbtn" onclick="$('command').value='clean';postCommand();">解除所有禁区</div>
				<div class="cmdbtn" onclick="$('command').value='add';postCommand();">立刻增加禁区</div>
				<div class="cmdbtn" onclick="$('command').value='back';postCommand();">返回</div>
			</div>
		</td>
	</tr>
</table>