<input type="hidden" id="mode" name="mode" value="itemmain">
<input type="hidden" id="command" name="command" value="menu">
<table style="width:500px">
	<tr>
		<td class="td1" style="height:25px">
			<div>
				请选择需要合并的两个道具。
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<select name="merge1" onclick=sl('itemmerge'); href="javascript:void(0);">
				<option value="0">■ 道具一 ■<br />
					<!--{if $pdata['itms1']}--><option value="1">$pdata['itm1']/$pdata['itme1']/$pdata['itms1']<br /><!--{/if}-->
					<!--{if $pdata['itms2']}--><option value="2">$pdata['itm2']/$pdata['itme2']/$pdata['itms2']<br /><!--{/if}-->
					<!--{if $pdata['itms3']}--><option value="3">$pdata['itm3']/$pdata['itme3']/$pdata['itms3']<br /><!--{/if}-->
					<!--{if $pdata['itms4']}--><option value="4">$pdata['itm4']/$pdata['itme4']/$pdata['itms4']<br /><!--{/if}-->
					<!--{if $pdata['itms5']}--><option value="5">$pdata['itm5']/$pdata['itme5']/$pdata['itms5']<br /><!--{/if}-->
					<!--{if $pdata['itms6']}--><option value="6">$pdata['itm6']/$pdata['itme6']/$pdata['itms6']<br /><!--{/if}-->
				</select>
			</div>
			<div>
				<select name="merge2" onclick=sl('itemmerge'); href="javascript:void(0);">
				<option value="0">■ 道具二 ■<br />
					<!--{if $pdata['itms1']}--><option value="1">$pdata['itm1']/$pdata['itme1']/$pdata['itms1']<br /><!--{/if}-->
					<!--{if $pdata['itms2']}--><option value="2">$pdata['itm2']/$pdata['itme2']/$pdata['itms2']<br /><!--{/if}-->
					<!--{if $pdata['itms3']}--><option value="3">$pdata['itm3']/$pdata['itme3']/$pdata['itms3']<br /><!--{/if}-->
					<!--{if $pdata['itms4']}--><option value="4">$pdata['itm4']/$pdata['itme4']/$pdata['itms4']<br /><!--{/if}-->
					<!--{if $pdata['itms5']}--><option value="5">$pdata['itm5']/$pdata['itme5']/$pdata['itms5']<br /><!--{/if}-->
					<!--{if $pdata['itms6']}--><option value="6">$pdata['itm6']/$pdata['itme6']/$pdata['itms6']<br /><!--{/if}-->
				</select>
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="cmdbtn" onclick="$('command').value='itemmerge';postCommand();">{lang itemmerge}</div>
				<div class="cmdbtn" onclick="$('command').value='menu';postCommand();">{lang back}</div>
			</div>
		</td>
	</tr>
</table>