<input type="hidden" id="mode" name="mode" value="$mval">
<input type="hidden" id="command" name="command" value="">
<table style="width:500px;">
	<tr>
		<td class="td1" style="height:20px">
			<div>
				$inotice
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<!--{if $cval !== 'swap'}-->
				<div class="itmbtn" onclick="$('mode').value='command';$('command').value='back';postCommand();">{lang back}</div>
				<!--{/if}-->
				<!--{if $pdata['weps'] && $pdata['wepk'] && in_array('wep',$dlist)}-->
				<div class="itmbtn" onclick="$('command').value='{$cval}wep';postCommand();">$pdata['wep']/$pdata['wepe']/$pdata['weps']</div>
				<!--{/if}-->
				<!--{if $pdata['arbs'] &&  $pdata['arbk'] && in_array('arb',$dlist)}-->
				<div class="itmbtn" onclick="$('command').value='{$cval}arb';postCommand();">$pdata['arb']/$pdata['arbe']/$pdata['arbs']</div>
				<!--{/if}-->
				<!--{loop array('arh','ara','arf','art') $p}-->
					<!--{if $pdata[$p.'s'] && in_array($p,$dlist)}-->
						<div class="itmbtn" onclick="$('command').value='{$cval}{$p}';postCommand();">$pdata[$p]/$pdata[$p.'e']/$pdata[$p.'s']</div>
					<!--{/if}-->
				<!--{/loop}-->
				<!--{loop array(0,1,2,3,4,5,6) $i}-->
					<!--{if $pdata['itms'.$i] && in_array('itm'.$i,$dlist)}-->
						<!--{if $i == 0 && $cval == 'swap'}-->
							<div class="itmbtn" onclick="$('command').value='dropitm0';postCommand();">$pdata['itm0']/$pdata['itme0']/$pdata['itms0']</div><br />
						<!--{else}-->
							<div class="itmbtn" onclick="$('command').value='{$cval}itm{$i}';postCommand();">$pdata['itm'.$i]/$pdata['itme'.$i]/$pdata['itms'.$i]</div>
						<!--{/if}-->
					<!--{/if}-->
				<!--{/loop}-->
			</div>
		</td>
	</tr>
</table>