<input type="hidden" id="mode" name="mode" value="itemmain">
<input type="hidden" id="command" name="command" value="">
<table style="width:500px">
	<tr>
		<td class="td1">
			<div>
				发现了物品 <span class="yellow">$pdata['itm0']</span>，类型：{$pdata['display']['itmk0_words']}<!--{if ($pdata['itmsk0'])}-->，属性：{$pdata['display']['itmsk0_words']}<!--{/if}-->，效：{$pdata['itme0']}，耐：{$pdata['itms0']}。<br>
				你想如何处理？
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="cmdbtn" onclick="$('command').value='itemget';postCommand();">{lang itemget}</div>
				<div class="cmdbtn" onclick="$('command').value='dropitm0';postCommand();">{lang itemdrop}</div>
			</div>
		</td>
	</tr>
</table>
