<ul><span class="evergreen"><B>11月25日(星期日)</B></span><br><li>09时40分39秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分39秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【185834】点的伤害！</span><br>
<li>09时40分36秒，<span class="red">CC.中了虎比级辅助挂机设置的陷阱地雷</span><br>
<li>09时40分30秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分30秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【62827】点的伤害！</span><br>
<li>09时40分26秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分26秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【99928】点的伤害！</span><br>
<li>09时40分20秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分20秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【51674】点的伤害！</span><br>
<li>09时40分09秒，<span class="yellow">某四面</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【杏仁豆腐 某四面：“果然又被杀掉了啊，高速脱离战场。”】</span><br>
<li>09时40分09秒，<span class="clan">CC.超越自己的极限爆发出了震天动地的力量！在【8833】点的伤害后，某四面化作了一颗流星！</span><br>
<li>09时40分03秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分03秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC翻唱职人吃下了【178193】点的伤害！</span><br>
<li>09时40分00秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时40分00秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC字幕职人吃下了【192279】点的伤害！</span><br>
<li>09时39分58秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>09时39分58秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC专业喷子吃下了【75841】点的伤害！</span><br>
<li>09时39分55秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时39分55秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【78491】点的伤害！</span><br>
<li>09时39分45秒，<span class="yellow">CC.依靠迎击装备抵御了虎比级辅助挂机设置的陷阱地雷的伤害</span><br>
<li>09时39分16秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>09时39分16秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC专业喷子吃下了【107354】点的伤害！</span><br>
<li>09时39分07秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时39分07秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC翻唱职人吃下了【56712】点的伤害！</span><br>
<li>09时38分53秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>09时38分53秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC专业喷子吃下了【62166】点的伤害！</span><br>
<li>09时38分32秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时38分32秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【82506】点的伤害！</span><br>
<li>09时37分28秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时37分28秒，<span class="clan">CC.运转百万匹周天，吐气扬声，一道霸气的光束过后，在【36998】点的伤害下，AC搬运职人还活着么？</span><br>
<li>09时37分22秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">「救世星龙」[+2]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>09时37分22秒，<span class="clan">CC.已然和手中的武器成为一体！随着一声令大地崩塌的长啸，AC搬运职人吃下了【65810】点的伤害！</span><br>
<li>09时37分08秒，<span class="lime">CC.使用了『祝福宝石』，强化了<span class="yellow">「救世星龙」[+1]</span>！</span><br>
<li>09时37分06秒，<span class="lime">CC.使用了『祝福宝石』，强化了<span class="yellow">「救世星龙」</span>！</span><br>
<li>09时36分54秒，<span class="lime">CC.合成了「救世星龙」</span><br>
<li>09时36分34秒，<span class="lime">CC.同调合成了救世星龙 -仮</span><br>
<li>09时36分29秒，<span class="lime">CC.同调合成了星尘龙 ★8</span><br>
<li>09时35分10秒，<span class="red">CC.中了黑暗之狐设置的陷阱地雷</span><br>
<li>09时34分36秒，<span class="yellow">立华 奏-改</span>被<span class="yellow">CC.</span>投掷<span class="red">正义盟军 光明守望者 ★8[+4]</span>致死<span class="yellow">【全息幻象 立华 奏-改：“机体受损过重，任务被迫中止。”】</span><br>
<li>09时34分36秒，<span class="clan">CC.燃烧自己的生命得到了不可思议的力量！【2618】点的伤害值，没天理啊……立华 奏-改的HP足够么？</span><br>
<li>09时34分21秒，<span class="clan">CC.燃烧自己的生命得到了不可思议的力量！【1691】点的伤害值，没天理啊……立华 奏-改的HP足够么？</span><br>
<li>09时34分18秒，<span class="yellow">思念体-海马 濑人</span>被<span class="yellow">CC.</span>投掷<span class="red">正义盟军 光明守望者 ★8[+4]</span>致死<span class="yellow">【全息幻象 思念体-海马 濑人：“机体受损过重，任务被迫中止。”】</span><br>
<li>09时34分18秒，<span class="clan">CC.燃烧自己的生命得到了不可思议的力量！【4056】点的伤害值，没天理啊……思念体-海马 濑人的HP足够么？</span><br>
<li>09时34分14秒，<span class="yellow">CC.回避了wwwwwww设置的陷阱地雷</span><br>
<li>09时34分11秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">CC.</span>投掷<span class="red">正义盟军 光明守望者 ★8[+4]</span>致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
</ul>