<ul><span class="evergreen"><B>3月21日(星期一)</B></span><br><li>01时17分26秒，<span class="red">第407回ACFUN大逃杀结束了</span><br>
<li>01时17分26秒，<span class="yellow">优胜者——早苗真的梅毒！</span><br>
<li>01时17分26秒，<span class="yellow">高达</span>因L5发作自己挠破喉咙身亡！<span class="yellow">【参战者 高达：“血染东方一片红..！”】</span><br>
<li>01时16分21秒，<span class="clan">早苗真的梅毒使出浑身解数奋力一击！364点伤害！Acg_Xilin还活着吗？</span><br>
<li>01时15分12秒，<span class="lime">早苗真的梅毒使用武器师安雅的奖赏，改造了<span class="yellow">雪兔【复制品】-改</span>！</span><br>
<li>01时15分10秒，<span class="lime">早苗真的梅毒合成了武器师安雅的奖赏</span><br>
<li>01时14分46秒，<span class="yellow">神尾 观铃</span>被<span class="yellow">早苗真的梅毒</span>埋设<span class="red">雪兔【复制品】-改</span>伏击炸死<span class="yellow">【非作战人员 神尾 观铃：“怎……怎么会这样？”】</span><br>
<li>01时14分46秒，<span class="clan">早苗真的梅毒简直不是人！神尾 观铃瞬间被打了223点伤害。</span><br>
<li>01时14分27秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时14分23秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时13分50秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时13分30秒，<span class="clan">早苗真的梅毒发出会心一击！神尾 观铃损失了258点生命！</span><br>
<li>01时13分24秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时12分31秒，<span class="yellow">四面</span>被<span class="yellow">早苗真的梅毒</span>埋设<span class="red">雪兔【复制品】-改</span>伏击炸死<span class="yellow">【代码聚合体 四面：“果然又被杀掉了啊，高速脱离战场。”】</span><br>
<li>01时12分31秒，<span class="clan">早苗真的梅毒发出会心一击！四面损失了280点生命！</span><br>
<li>01时12分17秒，<span class="clan">四面对早苗真的梅毒做出了149点的攻击，一定是有练过。</span><br>
<li>01时12分09秒，<span class="clan">早苗真的梅毒发出会心一击！四面损失了281点生命！</span><br>
<li>01时12分01秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时11分51秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时11分10秒，<span class="clan">四面拿了什么神兵？早苗真的梅毒被打了177滴血。</span><br>
<li>01时11分10秒，<span class="red">四面的攻击致使早苗真的梅毒</span><span class="purple">中毒</span><span class="red">了</span><br>
<li>01时11分08秒，<span class="clan">早苗真的梅毒简直不是人！神尾 观铃瞬间被打了228点伤害。</span><br>
<li>01时10分59秒，<span class="red">早苗真的梅毒中了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时10分47秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时10分44秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时10分34秒，<span class="clan">早苗真的梅毒使出浑身解数奋力一击！300点伤害！四面还活着吗？</span><br>
<li>01时10分25秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时10分06秒，<span class="clan">四面对早苗真的梅毒做出了110点的攻击，一定是有练过。</span><br>
<li>01时09分58秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时09分42秒，<span class="clan">早苗真的梅毒发出会心一击！神尾 观铃损失了286点生命！</span><br>
<li>01时09分32秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时09分31秒，<span class="clan">早苗真的梅毒发出会心一击！神尾 观铃损失了276点生命！</span><br>
<li>01时09分10秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时08分51秒，<span class="clan">早苗真的梅毒发出会心一击！神尾 观铃损失了268点生命！</span><br>
<li>01时08分33秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时08分31秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时08分22秒，<span class="clan">早苗真的梅毒简直不是人！四面瞬间被打了239点伤害。</span><br>
<li>01时08分15秒，<span class="clan">四面对早苗真的梅毒做出了104点的攻击，一定是有练过。</span><br>
<li>01时08分08秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时08分05秒，<span class="clan">早苗真的梅毒简直不是人！四面瞬间被打了233点伤害。</span><br>
<li>01时07分59秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时07分55秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
<li>01时07分42秒，<span class="clan">早苗真的梅毒简直不是人！神尾 观铃瞬间被打了229点伤害。</span><br>
<li>01时07分31秒，<span class="clan">四面对早苗真的梅毒做出了108点的攻击，一定是有练过。</span><br>
<li>01时07分29秒，<span class="yellow">早苗真的梅毒回避了早苗真的梅毒设置的陷阱地雷</span><br>
</ul>