<ul><span class="lime"><B>11 月 29 日 (星期一)</B></span><br><li>14时00分00秒，<span class="red">第1回 游戏结束了</span><br>
<li>14时00分00秒，<span class="yellow">admin 解除了项圈，游戏紧急结束</span><br>
<li>13时59分39秒，<span class="red">政府对 admin 进行了生化改造</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
<li>13时57分55秒，<span class="red"> 的尸体被政府销毁了</span><br>
</ul>