{template header}


<div class="subtitle" >{lang maptitle}</div>
<div id="notice"></div>

<TABLE border="1" width="539" height="539" cellspacing="0">
	<TR bgcolor="#cccccc"><TD width="49" height="49" class=b1 align=middle><div class=nttx>坐标<IMG src="map/blank.gif" height="1%"></div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>1</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>2</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>3</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>4</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>5</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>6</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>7</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>8</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>9</div></TD><TD width="49" height="49" class=b1 align=middle><div class=nttx>10</div></TD></TR>
	<TR>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>A</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/01.gif><span class="$plscolor[1]">$plsinfo[1]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/41.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/42.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/43.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	</TR>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>B</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/02.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/03.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/04.gif><span class="$plscolor[2]">$plsinfo[2]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/05.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/44.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/45.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/46.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/47.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>C</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/06.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/07.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/yakuba.gif><span class="$plscolor[3]">$plsinfo[3]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/po.gif><span class="$plscolor[4]">$plsinfo[4]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/fd.gif><span class="$plscolor[5]">$plsinfo[5]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/09.gif><span class="$plscolor[6]">$plsinfo[6]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/10.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/48.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/49.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>D</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/11.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/pond.gif><span class="$plscolor[7]">$plsinfo[7]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/kousya.gif><span class="$plscolor[0]">$plsinfo[0]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/12.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/13.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>E</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/14.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><span class="$plscolor[8]">$plsinfo[8]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><span class="$plscolor[9]">$plsinfo[9]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn1.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn2.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn3.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/15.gif><span class="$plscolor[11]">$plsinfo[11]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/16.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>F</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/17.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/jyu-taku.gif><span class="$plscolor[12]">$plsinfo[12]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn4.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn5.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn6.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/18.gif><span class="$plscolor[13]">$plsinfo[13]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>G</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/19.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/20.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/kousya.gif><span class="$plscolor[14]">$plsinfo[14]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn7.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn8.gif><span class="$plscolor[15]">$plsinfo[15]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/mtn9.gif><span class="$plscolor[10]">$plsinfo[10]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/21.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>H</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/22.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/23.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/24.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><span class="$plscolor[16]">$plsinfo[16]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><span class="$plscolor[16]">$plsinfo[16]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/pond.gif><span class="$plscolor[17]">$plsinfo[17]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/40.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/25.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/26.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>I</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/27.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/28.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/29.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/30.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/31.gif><span class="$plscolor[18]">$plsinfo[18]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/32.gif><span class="$plscolor[19]">$plsinfo[19]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/33.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/34.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/35.gif><span class="$plscolor[20]">$plsinfo[20]<span></TD>
  <TR align=middle>
	<TD width="49" height="49" class=b1 align=middle><div class=nttx>J</div></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/36.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/37.gif><span class="$plscolor[21]">$plsinfo[21]<span></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/38.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
	<TD width="49" height="49" class=b5 align=middle background=map/ocean.gif><IMG src="map/blank.gif" width="46" height="46" border=0></TD>
</TABLE>
{template footer}