<ul><span class="evergreen"><B>4月28日(星期六)</B></span><br><li>11时13分51秒，<span class="clan">mengling对AC字幕职人做出了126点的攻击，一定是有练过。</span><br>
<li>11时13分50秒，<span class="clan">霜火协奏曲发出会心一击！路人路人甲损失了257点生命！</span><br>
<li>11时13分50秒，<span class="red">霜火协奏曲的攻击致使路人路人甲</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时13分48秒，<span class="clan">蕾米莉亚发出会心一击！水濑 名雪-改损失了268点生命！</span><br>
<li>11时13分46秒，<span class="clan">抖M发出会心一击！AC翻唱职人损失了252点生命！</span><br>
<li>11时13分46秒，<span class="red">抖M的攻击致使AC翻唱职人</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时13分30秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时13分30秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC字幕职人受到了464点的伤害！</span><br>
<li>11时12分52秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时12分52秒，<span class="clan">抖M简直不是人！AC翻唱职人瞬间被打了236点伤害。</span><br>
<li>11时12分52秒，<span class="red">抖M的攻击致使AC翻唱职人</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时12分51秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时12分51秒，<span class="clan">蕾米莉亚手中的武器闪耀出七彩光芒！AC翻唱职人招架不住，生命减少632点！</span><br>
<li>11时12分46秒，<span class="clan">爱情上甘岭对蕾米莉亚做出了130点的攻击，一定是有练过。</span><br>
<li>11时12分35秒，<span class="clan">爱情上甘岭拿了什么神兵？蕾米莉亚被打了173滴血。</span><br>
<li>11时12分35秒，<span class="clan">蕾米莉亚拿了什么神兵？爱情上甘岭被打了159滴血。</span><br>
<li>11时12分29秒，<span class="lime">mengling合成了月符「Silent Serena」-劣</span><br>
<li>11时12分28秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！394点伤害！mengling还安好吗？</span><br>
<li>11时12分21秒，<span class="clan">爱情上甘岭对蕾米莉亚做出了144点的攻击，一定是有练过。</span><br>
<li>11时12分18秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>11时12分18秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！366点伤害！AC专业喷子还安好吗？</span><br>
<li>11时12分17秒，<span class="clan">mengling对思念体-触手众做出了108点的攻击，一定是有练过。</span><br>
<li>11时12分14秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC字幕职人受到了452点的伤害！</span><br>
<li>11时12分05秒，<span class="clan">mengling对AC专业喷子做出了114点的攻击，一定是有练过。</span><br>
<li>11时12分05秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC翻唱职人受到了424点的伤害！</span><br>
<li>11时12分03秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC字幕职人受到了436点的伤害！</span><br>
<li>11时11分54秒，<span class="clan">Exocet对蕾米莉亚做出了135点的攻击，一定是有练过。</span><br>
<li>11时11分54秒，<span class="clan">蕾米莉亚拿了什么神兵？Exocet被打了155滴血。</span><br>
<li>11时11分39秒，<span class="yellow">西园寺世界哟(男生14号)进入了大逃杀战场</span><br>
<li>11时11分25秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！372点伤害！mengling还安好吗？</span><br>
<li>11时11分09秒，<span class="clan">蕾米莉亚拿了什么神兵？Exocet被打了158滴血。</span><br>
<li>11时10分43秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！370点伤害！抖M还安好吗？</span><br>
<li>11时10分38秒，<span class="clan">蕾米莉亚简直不是人！抖M瞬间被打了201点伤害。</span><br>
<li>11时10分31秒，<span class="clan">蕾米莉亚拿了什么神兵？抖M被打了192滴血。</span><br>
<li>11时10分31秒，<span class="clan">抖M对蕾米莉亚做出了118点的攻击，一定是有练过。</span><br>
<li>11时10分21秒，<span class="clan">Exocet对蕾米莉亚做出了135点的攻击，一定是有练过。</span><br>
<li>11时10分10秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时10分10秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC翻唱职人受到了424点的伤害！</span><br>
<li>11时10分06秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时10分06秒，<span class="clan">抖M发出会心一击！AC字幕职人损失了268点生命！</span><br>
<li>11时10分06秒，<span class="clan">mengling对AC翻唱职人做出了117点的攻击，一定是有练过。</span><br>
<li>11时10分00秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时10分00秒，<span class="clan">抖M简直不是人！AC字幕职人瞬间被打了245点伤害。</span><br>
<li>11时09分54秒，<span class="clan">抖M发出会心一击！AC字幕职人损失了296点生命！</span><br>
<li>11时09分53秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时09分53秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC字幕职人受到了416点的伤害！</span><br>
<li>11时09分46秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！370点伤害！AC搬运职人还安好吗？</span><br>
<li>11时09分44秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！324点伤害！立华 奏-改还安好吗？</span><br>
<li>11时09分40秒，<span class="clan">抖M发出会心一击！AC搬运职人损失了281点生命！</span><br>
<li>11时09分40秒，<span class="red">抖M的攻击致使AC搬运职人</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时09分35秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>11时09分35秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC专业喷子受到了487点的伤害！</span><br>
<li>11时09分35秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时09分35秒，<span class="clan">抖M发出会心一击！AC搬运职人损失了274点生命！</span><br>
<li>11时09分35秒，<span class="red">抖M的攻击致使AC搬运职人</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时09分28秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>发动<span class="red">斗技【神砂风暴】</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时09分28秒，<span class="clan">蕾米莉亚使出武器中内藏的力量！可怜的AC翻唱职人受到了468点的伤害！</span><br>
<li>11时09分25秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时09分25秒，<span class="clan">抖M发出会心一击！AC翻唱职人损失了293点生命！</span><br>
<li>11时09分23秒，<span class="clan">蕾米莉亚眼色一变使出绝招！立华 奏-改招架不住，生命减少519点！</span><br>
<li>11时09分11秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了210点伤害。</span><br>
<li>11时09分11秒，<span class="red">抖M的攻击致使思念体-触手众</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时08分31秒，<span class="clan">脸骑士-菜包使出浑身解数奋力一击！300点伤害！mengling还安好吗？</span><br>
<li>11时08分11秒，<span class="clan">蕾米莉亚对抖M做出了135点的攻击，一定是有练过。</span><br>
<li>11时08分09秒，<span class="clan">mengling对AC翻唱职人做出了127点的攻击，一定是有练过。</span><br>
<li>11时07分57秒，<span class="clan">蕾米莉亚对抖M做出了131点的攻击，一定是有练过。</span><br>
<li>11时07分57秒，<span class="red">蕾米莉亚的攻击致使抖M</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>11时07分56秒，<span class="yellow">路人路人甲(男生13号)进入了大逃杀战场</span><br>
<li>11时07分36秒，<span class="clan">蕾米莉亚简直不是人！水濑 名雪-改瞬间被打了203点伤害。</span><br>
<li>11时07分34秒，<span class="clan">蕾米莉亚拿了什么神兵？AC字幕职人被打了151滴血。</span><br>
<li>11时07分31秒，<span class="clan">mengling对AC搬运职人做出了120点的攻击，一定是有练过。</span><br>
<li>11时07分30秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！340点伤害！AC搬运职人还安好吗？</span><br>
<li>11时07分29秒，<span class="yellow">思念体-触手众</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【全息幻象 思念体-触手众：“机体受损过重，任务被迫中止。”】</span><br>
<li>11时07分29秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了218点伤害。</span><br>
<li>11时07分27秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了215点伤害。</span><br>
<li>11时07分25秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！323点伤害！AC搬运职人还安好吗？</span><br>
<li>11时07分19秒，<span class="yellow">sisy</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【参战者 sisy：“做鬼也不会放过你的”】</span><br>
<li>11时07分19秒，<span class="clan">蕾米莉亚手中的武器闪耀出七彩光芒！sisy招架不住，生命减少701点！</span><br>
<li>11时07分16秒，<span class="clan">脸骑士-菜包发出会心一击！mengling损失了279点生命！</span><br>
<li>11时07分16秒，<span class="red">脸骑士-菜包的攻击致使mengling</span><span class="grey">混乱</span><span class="red">了</span><br>
<li>11时07分11秒，<span class="yellow">立华 奏-改</span>被<span class="yellow">抖M</span>发动<span class="red">时符『Private Square』</span>以灵力杀死<span class="yellow">【全息幻象 立华 奏-改：“机体受损过重，任务被迫中止。”】</span><br>
<li>11时07分11秒，<span class="clan">抖M简直不是人！立华 奏-改瞬间被打了201点伤害。</span><br>
<li>11时07分04秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时07分00秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分56秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分52秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分50秒，<span class="yellow">liqiuyang96</span>被<span class="yellow">真职人 Hank</span>埋设<span class="red">『胡来的左手！！』</span>伏击炸死<span class="yellow">【参战者 liqiuyang96：“好吃的便当，我来了@_@~”】</span><br>
<li>11时06分50秒，<span class="clan">Hank眼色一变使出绝招！liqiuyang96招架不住，生命减少550点！</span><br>
<li>11时06分50秒，<span class="red">Hank的攻击致使liqiuyang96</span><span class="grey">混乱</span><span class="red">了</span><br>
<li>11时06分50秒，<span class="red">Hank的攻击致使liqiuyang96</span><span class="purple">中毒</span><span class="red">了</span><br>
<li>11时06分48秒，<span class="clan">mengling对AC翻唱职人做出了124点的攻击，一定是有练过。</span><br>
<li>11时06分48秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分47秒，<span class="yellow">www881217</span>被<span class="yellow">代码聚合体 四面</span>埋设<span class="red">深生态炸弹</span>伏击炸死<span class="yellow">【参战者 www881217：“我是7号~”】</span><br>
<li>11时06分47秒，<span class="clan">四面受到天神的加护，打出惊天动地的一击——www881217被打掉838点生命值！</span><br>
<li>11时06分43秒，<span class="clan">mengling对AC字幕职人做出了116点的攻击，一定是有练过。</span><br>
<li>11时06分43秒，<span class="clan">抖M拿了什么神兵？思念体-触手众被打了199滴血。</span><br>
<li>11时06分43秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分38秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分34秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分33秒，<span class="yellow">liqiuyang96(男生12号)进入了大逃杀战场</span><br>
<li>11时06分30秒，<span class="lime">蕾米莉亚合成了更改菜谱后的不甜酱包</span><br>
<li>11时06分26秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分23秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分20秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分17秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分14秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分11秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分09秒，<span class="clan">抖M简直不是人！立华 奏-改瞬间被打了211点伤害。</span><br>
<li>11时06分07秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时06分04秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时05分59秒，<span class="lime">蕾米莉亚合成了曾经的荣光-橙黄</span><br>
<li>11时05分50秒，<span class="clan">mengling对思念体-触手众做出了104点的攻击，一定是有练过。</span><br>
<li>11时05分48秒，<span class="clan">mengling对AC专业喷子做出了109点的攻击，一定是有练过。</span><br>
<li>11时05分43秒，<span class="yellow">荒山小屋</span>被<span class="yellow">真职人 脸骑士-菜包</span>使用<span class="red">好吃的菜包</span>殴打致死<span class="yellow">【参战者 荒山小屋：“美味的便当，我来了~~~”】</span><br>
<li>11时05分43秒，<span class="clan">脸骑士-菜包使出浑身解数奋力一击！347点伤害！荒山小屋还安好吗？</span><br>
<li>11时05分43秒，<span class="red">脸骑士-菜包的攻击致使荒山小屋</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时05分40秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了205点伤害。</span><br>
<li>11时05分39秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时05分39秒，<span class="clan">蕾米莉亚简直不是人！AC字幕职人瞬间被打了231点伤害。</span><br>
<li>11时05分34秒，<span class="clan">蕾米莉亚发出会心一击！AC翻唱职人损失了288点生命！</span><br>
<li>11时05分31秒，<span class="clan">抖M使出浑身解数奋力一击！374点伤害！立华 奏-改还安好吗？</span><br>
<li>11时05分31秒，<span class="clan">蕾米莉亚发出会心一击！AC专业喷子损失了297点生命！</span><br>
<li>11时05分28秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了190滴血。</span><br>
<li>11时05分28秒，<span class="red">蕾米莉亚的攻击致使AC翻唱职人</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>11时05分15秒，<span class="clan">蕾米莉亚发出会心一击！AC字幕职人损失了278点生命！</span><br>
<li>11时05分08秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了211点伤害。</span><br>
<li>11时04分57秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时04分57秒，<span class="clan">蕾米莉亚发出会心一击！AC搬运职人损失了284点生命！</span><br>
<li>11时04分51秒，<span class="clan">mengling对AC搬运职人做出了113点的攻击，一定是有练过。</span><br>
<li>11时04分48秒，<span class="yellow">www881217(男生11号)进入了大逃杀战场</span><br>
<li>11时04分48秒，<span class="clan">mengling对AC字幕职人做出了104点的攻击，一定是有练过。</span><br>
<li>11时04分33秒，<span class="clan">蕾米莉亚对AC专业喷子做出了123点的攻击，一定是有练过。</span><br>
<li>11时04分30秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了204点伤害。</span><br>
<li>11时04分30秒，<span class="clan">抖M拿了什么神兵？思念体-触手众被打了197滴血。</span><br>
<li>11时04分28秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了213点伤害。</span><br>
<li>11时04分28秒，<span class="red">抖M的攻击致使思念体-触手众</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时04分27秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时04分27秒，<span class="clan">蕾米莉亚使出浑身解数奋力一击！309点伤害！AC翻唱职人还安好吗？</span><br>
<li>11时04分27秒，<span class="red">蕾米莉亚的攻击致使AC翻唱职人</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>11时04分22秒，<span class="clan">抖M简直不是人！立华 奏-改瞬间被打了207点伤害。</span><br>
<li>11时04分20秒，<span class="clan">蕾米莉亚发出会心一击！AC翻唱职人损失了260点生命！</span><br>
<li>11时04分20秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了205点伤害。</span><br>
<li>11时04分18秒，<span class="clan">蕾米莉亚简直不是人！AC搬运职人瞬间被打了204点伤害。</span><br>
<li>11时04分18秒，<span class="red">蕾米莉亚的攻击致使AC搬运职人</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>11时04分06秒，<span class="clan">蕾米莉亚简直不是人！AC搬运职人瞬间被打了231点伤害。</span><br>
<li>11时04分04秒，<span class="clan">蕾米莉亚对AC字幕职人做出了136点的攻击，一定是有练过。</span><br>
<li>11时04分03秒，<span class="clan">抖M简直不是人！立华 奏-改瞬间被打了205点伤害。</span><br>
<li>11时03分55秒，<span class="clan">抖M简直不是人！立华 奏-改瞬间被打了224点伤害。</span><br>
<li>11时03分50秒，<span class="clan">抖M简直不是人！思念体-触手众瞬间被打了222点伤害。</span><br>
<li>11时03分47秒，<span class="clan">思念体-触手众对mengling做出了126点的攻击，一定是有练过。</span><br>
<li>11时03分43秒，<span class="lime">抖M合成了时符『Private Square』</span><br>
<li>11时03分42秒，<span class="clan">mengling对思念体-触手众做出了103点的攻击，一定是有练过。</span><br>
<li>11时03分41秒，<span class="clan">蕾米莉亚发出会心一击！AC专业喷子损失了277点生命！</span><br>
<li>11时03分36秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了196滴血。</span><br>
<li>11时03分35秒，<span class="clan">mengling对AC搬运职人做出了119点的攻击，一定是有练过。</span><br>
<li>11时03分18秒，<span class="clan">mengling对AC字幕职人做出了117点的攻击，一定是有练过。</span><br>
<li>11时03分18秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>11时03分18秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了220点伤害。</span><br>
<li>11时03分07秒，<span class="clan">蕾米莉亚发出会心一击！AC专业喷子损失了286点生命！</span><br>
<li>11时03分04秒，<span class="clan">立华 奏-改拿了什么神兵？荒山小屋被打了161滴血。</span><br>
<li>11时03分03秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">mengling</span>发动<span class="red">秘术『一子单传的弹幕』</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时03分03秒，<span class="clan">mengling对AC字幕职人做出了105点的攻击，一定是有练过。</span><br>
<li>11时03分02秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时03分02秒，<span class="clan">蕾米莉亚对AC搬运职人做出了130点的攻击，一定是有练过。</span><br>
<li>11时03分00秒，<span class="clan">抖M对立华 奏-改做出了147点的攻击，一定是有练过。</span><br>
<li>11时02分56秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时02分56秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了183滴血。</span><br>
<li>11时02分56秒，<span class="yellow">sisy(男生10号)进入了大逃杀战场</span><br>
<li>11时02分55秒，<span class="clan">蕾米莉亚拿了什么神兵？AC字幕职人被打了162滴血。</span><br>
<li>11时02分52秒，<span class="clan">蕾米莉亚发出会心一击！AC搬运职人损失了254点生命！</span><br>
<li>11时02分48秒，<span class="clan">蕾米莉亚简直不是人！AC字幕职人瞬间被打了246点伤害。</span><br>
<li>11时02分39秒，<span class="clan">蕾米莉亚发出会心一击！AC字幕职人损失了253点生命！</span><br>
<li>11时02分37秒，<span class="clan">蕾米莉亚简直不是人！AC搬运职人瞬间被打了240点伤害。</span><br>
<li>11时02分33秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了194滴血。</span><br>
<li>11时02分28秒，<span class="clan">蕾米莉亚拿了什么神兵？AC字幕职人被打了170滴血。</span><br>
<li>11时02分28秒，<span class="red">蕾米莉亚的攻击致使AC字幕职人</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>11时02分25秒，<span class="clan">Exocet使出浑身解数奋力一击！306点伤害！mengling还安好吗？</span><br>
<li>11时02分23秒，<span class="clan">抖M对立华 奏-改做出了148点的攻击，一定是有练过。</span><br>
<li>11时02分18秒，<span class="clan">mengling对AC字幕职人做出了103点的攻击，一定是有练过。</span><br>
<li>11时02分18秒，<span class="clan">蕾米莉亚简直不是人！AC字幕职人瞬间被打了232点伤害。</span><br>
<li>11时02分14秒，<span class="clan">蕾米莉亚简直不是人！AC翻唱职人瞬间被打了225点伤害。</span><br>
<li>11时02分06秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时02分06秒，<span class="clan">蕾米莉亚发出会心一击！AC翻唱职人损失了262点生命！</span><br>
<li>11时01分58秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时01分58秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了153滴血。</span><br>
<li>11时01分53秒，<span class="clan">抖M对思念体-触手众做出了131点的攻击，一定是有练过。</span><br>
<li>11时01分51秒，<span class="clan">mengling对AC字幕职人做出了103点的攻击，一定是有练过。</span><br>
<li>11时01分42秒，<span class="clan">抖M对立华 奏-改做出了139点的攻击，一定是有练过。</span><br>
<li>11时01分37秒，<span class="clan">Exocet发出会心一击！mengling损失了271点生命！</span><br>
<li>11时01分34秒，<span class="clan">抖M对立华 奏-改做出了135点的攻击，一定是有练过。</span><br>
<li>11时01分32秒，<span class="clan">Exocet拿了什么神兵？蕾米莉亚被打了159滴血。</span><br>
<li>11时01分27秒，<span class="clan">mengling对AC搬运职人做出了106点的攻击，一定是有练过。</span><br>
<li>11时01分21秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时01分21秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了175滴血。</span><br>
<li>11时01分19秒，<span class="clan">mengling拿了什么神兵？AC翻唱职人被打了186滴血。</span><br>
<li>11时01分12秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">mengling</span>发动<span class="red">秘术『一子单传的弹幕』</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时01分12秒，<span class="clan">mengling拿了什么神兵？AC搬运职人被打了183滴血。</span><br>
<li>11时01分09秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了173滴血。</span><br>
<li>11时01分08秒，<span class="clan">抖M对立华 奏-改做出了122点的攻击，一定是有练过。</span><br>
<li>11时01分07秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了230点伤害。</span><br>
<li>11时01分04秒，<span class="clan">水濑 名雪-改对任凯做出了103点的攻击，一定是有练过。</span><br>
<li>11时01分04秒，<span class="clan">抖M对AC搬运职人做出了149点的攻击，一定是有练过。</span><br>
<li>11时01分02秒，<span class="clan">蕾米莉亚对AC翻唱职人做出了137点的攻击，一定是有练过。</span><br>
<li>11时01分02秒，<span class="clan">抖M对思念体-触手众做出了129点的攻击，一定是有练过。</span><br>
<li>11时01分02秒，<span class="clan">mengling拿了什么神兵？AC搬运职人被打了167滴血。</span><br>
<li>11时00分56秒，<span class="clan">mengling对AC字幕职人做出了102点的攻击，一定是有练过。</span><br>
<li>11时00分52秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了158滴血。</span><br>
<li>11时00分46秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了171滴血。</span><br>
<li>11时00分43秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时00分43秒，<span class="clan">蕾米莉亚简直不是人！AC搬运职人瞬间被打了219点伤害。</span><br>
<li>11时00分37秒，<span class="clan">立华 奏-改对mengling做出了111点的攻击，一定是有练过。</span><br>
<li>11时00分31秒，<span class="clan">Exocet发出会心一击！mengling损失了253点生命！</span><br>
<li>11时00分31秒，<span class="red">Exocet的攻击致使mengling</span><span class="grey">混乱</span><span class="red">了</span><br>
<li>11时00分31秒，<span class="red">Exocet的攻击致使mengling</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>11时00分29秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了162滴血。</span><br>
<li>11时00分29秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>11时00分29秒，<span class="clan">抖M对AC搬运职人做出了144点的攻击，一定是有练过。</span><br>
<li>11时00分28秒，<span class="clan">mengling对AC专业喷子做出了106点的攻击，一定是有练过。</span><br>
<li>11时00分24秒，<span class="clan">mengling对AC翻唱职人做出了108点的攻击，一定是有练过。</span><br>
<li>11时00分20秒，<span class="clan">抖M对立华 奏-改做出了131点的攻击，一定是有练过。</span><br>
<li>11时00分18秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了165滴血。</span><br>
<li>11时00分15秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了160滴血。</span><br>
<li>11时00分12秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了155滴血。</span><br>
<li>11时00分11秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了155滴血。</span><br>
<li>11时00分06秒，<span class="clan">蕾米莉亚对AC搬运职人做出了145点的攻击，一定是有练过。</span><br>
<li>11时00分06秒，<span class="clan">抖M对立华 奏-改做出了125点的攻击，一定是有练过。</span><br>
<li>11时00分03秒，<span class="clan">抖M对AC搬运职人做出了134点的攻击，一定是有练过。</span><br>
<li>11时00分02秒，<span class="clan">蕾米莉亚拿了什么神兵？AC搬运职人被打了164滴血。</span><br>
<li>10时59分57秒，<span class="clan">爱情上甘岭发出会心一击！mengling损失了279点生命！</span><br>
<li>10时59分57秒，<span class="red">爱情上甘岭的攻击致使mengling</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>10时59分56秒，<span class="clan">立华 奏-改对抖M做出了125点的攻击，一定是有练过。</span><br>
<li>10时59分52秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时59分52秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了171滴血。</span><br>
<li>10时59分52秒，<span class="red">蕾米莉亚的攻击致使AC专业喷子</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>10时59分40秒，<span class="clan">Exocet使出浑身解数奋力一击！372点伤害！mengling还安好吗？</span><br>
<li>10时59分40秒，<span class="red">Exocet的攻击致使mengling</span><span class="purple">中毒</span><span class="red">了</span><br>
<li>10时59分37秒，<span class="clan">mengling拿了什么神兵？AC专业喷子被打了181滴血。</span><br>
<li>10时59分32秒，<span class="clan">抖M对AC搬运职人做出了144点的攻击，一定是有练过。</span><br>
<li>10时59分32秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了161滴血。</span><br>
<li>10时59分31秒，<span class="clan">mengling拿了什么神兵？AC搬运职人被打了179滴血。</span><br>
<li>10时59分27秒，<span class="clan">抖M对思念体-触手众做出了128点的攻击，一定是有练过。</span><br>
<li>10时59分26秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时59分26秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了158滴血。</span><br>
<li>10时59分16秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了151滴血。</span><br>
<li>10时59分16秒，<span class="clan">mengling拿了什么神兵？AC专业喷子被打了172滴血。</span><br>
<li>10时59分09秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时59分09秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了166滴血。</span><br>
<li>10时59分06秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时59分06秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了228点伤害。</span><br>
<li>10时59分01秒，<span class="clan">mengling对AC搬运职人做出了101点的攻击，一定是有练过。</span><br>
<li>10时58分40秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了203点伤害。</span><br>
<li>10时58分36秒，<span class="clan">蕾米莉亚对AC专业喷子做出了146点的攻击，一定是有练过。</span><br>
<li>10时58分36秒，<span class="clan">抖M对思念体-触手众做出了138点的攻击，一定是有练过。</span><br>
<li>10时58分32秒，<span class="clan">蕾米莉亚对AC专业喷子做出了143点的攻击，一定是有练过。</span><br>
<li>10时58分25秒，<span class="clan">mengling对AC字幕职人做出了108点的攻击，一定是有练过。</span><br>
<li>10时58分25秒，<span class="clan">立华 奏-改简直不是人！荒山小屋瞬间被打了237点伤害。</span><br>
<li>10时58分24秒，<span class="clan">立华 奏-改对抖M做出了123点的攻击，一定是有练过。</span><br>
<li>10时58分24秒，<span class="clan">抖M对立华 奏-改做出了136点的攻击，一定是有练过。</span><br>
<li>10时58分21秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了168滴血。</span><br>
<li>10时58分19秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时58分19秒，<span class="clan">抖M拿了什么神兵？AC专业喷子被打了156滴血。</span><br>
<li>10时58分10秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了197滴血。</span><br>
<li>10时57分53秒，<span class="clan">蕾米莉亚对AC专业喷子做出了104点的攻击，一定是有练过。</span><br>
<li>10时57分52秒，<span class="clan">抖M对AC专业喷子做出了149点的攻击，一定是有练过。</span><br>
<li>10时57分52秒，<span class="clan">蕾米莉亚简直不是人！任凯瞬间被打了203点伤害。</span><br>
<li>10时57分50秒，<span class="clan">脸骑士-菜包使出浑身解数奋力一击！312点伤害！荒山小屋还安好吗？</span><br>
<li>10时57分50秒，<span class="red">脸骑士-菜包的攻击致使荒山小屋</span><span class="red">烧伤</span><span class="red">了</span><br>
<li>10时57分50秒，<span class="yellow">kaze</span>被<span class="yellow">循环使者 卡玛·克莱因</span>使用<span class="red">巴鲁康宁MK-III</span>射杀<span class="yellow">【参战者 kaze：“KEY也不过如此。..”】</span><br>
<li>10时57分50秒，<span class="clan">卡玛·克莱因超越自己的极限爆发出了震天动地的力量！在【9399】点的伤害后，kaze化作了一颗流星！</span><br>
<li>10时57分48秒，<span class="clan">Exocet使出浑身解数奋力一击！322点伤害！mengling还安好吗？</span><br>
<li>10时57分48秒，<span class="red">Exocet的攻击致使mengling</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>10时57分46秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了164滴血。</span><br>
<li>10时57分44秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时57分44秒，<span class="clan">蕾米莉亚拿了什么神兵？AC搬运职人被打了187滴血。</span><br>
<li>10时57分44秒，<span class="red">蕾米莉亚的攻击致使AC搬运职人</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>10时57分42秒，<span class="clan">抖M对思念体-触手众做出了130点的攻击，一定是有练过。</span><br>
<li>10时57分39秒，<span class="clan">抖M拿了什么神兵？AC搬运职人被打了167滴血。</span><br>
<li>10时57分36秒，<span class="clan">蕾米莉亚简直不是人！AC专业喷子瞬间被打了208点伤害。</span><br>
<li>10时57分33秒，<span class="clan">蕾米莉亚对AC专业喷子做出了146点的攻击，一定是有练过。</span><br>
<li>10时57分22秒，<span class="clan">抖M对AC搬运职人做出了134点的攻击，一定是有练过。</span><br>
<li>10时57分22秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">蕾米莉亚</span>使用<span class="red">德国BOY的键盘</span>殴打致死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时57分22秒，<span class="clan">蕾米莉亚对AC字幕职人做出了130点的攻击，一定是有练过。</span><br>
<li>10时57分20秒，<span class="clan">立华 奏-改拿了什么神兵？mengling被打了194滴血。</span><br>
<li>10时57分17秒，<span class="clan">蕾米莉亚拿了什么神兵？AC字幕职人被打了175滴血。</span><br>
<li>10时57分10秒，<span class="clan">抖M对AC专业喷子做出了144点的攻击，一定是有练过。</span><br>
<li>10时57分06秒，<span class="clan">抖M对立华 奏-改做出了141点的攻击，一定是有练过。</span><br>
<li>10时57分03秒，<span class="clan">蕾米莉亚对AC搬运职人做出了119点的攻击，一定是有练过。</span><br>
<li>10时57分02秒，<span class="clan">抖M拿了什么神兵？AC专业喷子被打了162滴血。</span><br>
<li>10时57分01秒，<span class="clan">立华 奏-改对任凯做出了126点的攻击，一定是有练过。</span><br>
<li>10时57分00秒，<span class="clan">mengling对AC搬运职人做出了102点的攻击，一定是有练过。</span><br>
<li>10时57分00秒，<span class="clan">蕾米莉亚对AC专业喷子做出了138点的攻击，一定是有练过。</span><br>
<li>10时56分52秒，<span class="clan">kaze对AC专业喷子做出了144点的攻击，一定是有练过。</span><br>
<li>10时56分52秒，<span class="clan">蕾米莉亚拿了什么神兵？AC专业喷子被打了177滴血。</span><br>
<li>10时56分50秒，<span class="clan">立华 奏-改对任凯做出了146点的攻击，一定是有练过。</span><br>
<li>10时56分49秒，<span class="clan">思念体-触手众对抖M做出了106点的攻击，一定是有练过。</span><br>
<li>10时56分42秒，<span class="clan">kaze拿了什么神兵？AC翻唱职人被打了152滴血。</span><br>
<li>10时56分36秒，<span class="red">抖M中了蕾米莉亚设置的陷阱地雷</span><br>
<li>10时56分34秒，<span class="clan">kaze对AC翻唱职人做出了132点的攻击，一定是有练过。</span><br>
<li>10时56分31秒，<span class="clan">蕾米莉亚对AC字幕职人做出了131点的攻击，一定是有练过。</span><br>
<li>10时56分18秒，<span class="clan">蕾米莉亚对AC专业喷子做出了121点的攻击，一定是有练过。</span><br>
<li>10时56分18秒，<span class="red">蕾米莉亚的攻击致使AC专业喷子</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>10时56分07秒，<span class="clan">蕾米莉亚对AC搬运职人做出了130点的攻击，一定是有练过。</span><br>
<li>10时56分03秒，<span class="clan">蕾米莉亚对AC专业喷子做出了103点的攻击，一定是有练过。</span><br>
<li>10时56分01秒，<span class="clan">立华 奏-改对任凯做出了145点的攻击，一定是有练过。</span><br>
<li>10时55分58秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">kaze</span>使用<span class="red">『环形激光』</span>射杀<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时55分53秒，<span class="clan">kaze对AC字幕职人做出了108点的攻击，一定是有练过。</span><br>
<li>10时55分41秒，<span class="clan">蕾米莉亚拿了什么神兵？AC字幕职人被打了157滴血。</span><br>
<li>10时55分31秒，<span class="clan">蕾米莉亚对AC搬运职人做出了123点的攻击，一定是有练过。</span><br>
<li>10时55分24秒，<span class="clan">蕾米莉亚对AC专业喷子做出了125点的攻击，一定是有练过。</span><br>
<li>10时55分18秒，<span class="clan">蕾米莉亚对AC翻唱职人做出了116点的攻击，一定是有练过。</span><br>
<li>10时55分13秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时55分13秒，<span class="clan">抖M对AC字幕职人做出了139点的攻击，一定是有练过。</span><br>
<li>10时55分04秒，<span class="clan">kaze对AC翻唱职人做出了111点的攻击，一定是有练过。</span><br>
<li>10时55分04秒，<span class="red">kaze的攻击致使AC翻唱职人</span><span class="red">烧伤</span><span class="red">了</span><br>
<li>10时55分04秒，<span class="lime">mengling合成了秘术『一子单传的弹幕』</span><br>
<li>10时55分03秒，<span class="clan">蕾米莉亚拿了什么神兵？AC翻唱职人被打了156滴血。</span><br>
<li>10时55分02秒，<span class="clan">蕾米莉亚对AC翻唱职人做出了125点的攻击，一定是有练过。</span><br>
<li>10时55分00秒，<span class="clan">蕾米莉亚对AC专业喷子做出了130点的攻击，一定是有练过。</span><br>
<li>10时54分58秒，<span class="clan">蕾米莉亚对AC翻唱职人做出了148点的攻击，一定是有练过。</span><br>
<li>10时54分52秒，<span class="clan">蕾米莉亚对AC翻唱职人做出了106点的攻击，一定是有练过。</span><br>
<li>10时54分51秒，<span class="clan">kaze对AC搬运职人做出了115点的攻击，一定是有练过。</span><br>
<li>10时54分51秒，<span class="red">kaze的攻击致使AC搬运职人</span><span class="red">烧伤</span><span class="red">了</span><br>
<li>10时54分45秒，<span class="clan">kaze对AC专业喷子做出了121点的攻击，一定是有练过。</span><br>
<li>10时54分41秒，<span class="lime">抖M合成了更改菜谱后的不甜酱包</span><br>
<li>10时54分37秒，<span class="lime">抖M合成了更改菜谱后的不甜酱包</span><br>
<li>10时54分33秒，<span class="lime">抖M合成了更改菜谱后的不甜酱包</span><br>
<li>10时54分29秒，<span class="lime">抖M合成了更改菜谱后的不甜酱包</span><br>
<li>10时54分26秒，<span class="lime">抖M合成了更改菜谱后的不甜酱包</span><br>
<li>10时54分24秒，<span class="clan">爱情上甘岭发出会心一击！mengling损失了261点生命！</span><br>
<li>10时54分24秒，<span class="red">爱情上甘岭的攻击致使mengling</span><span class="clan">冻结</span><span class="red">了</span><br>
<li>10时54分22秒，<span class="lime">抖M合成了曾经的荣光-橙黄</span><br>
<li>10时54分18秒，<span class="lime">抖M合成了曾经的荣光-橙黄</span><br>
<li>10时54分17秒，<span class="clan">kaze对AC字幕职人做出了109点的攻击，一定是有练过。</span><br>
<li>10时54分15秒，<span class="lime">抖M合成了曾经的荣光-橙黄</span><br>
<li>10时54分13秒，<span class="clan">kaze对AC字幕职人做出了116点的攻击，一定是有练过。</span><br>
<li>10时54分09秒，<span class="lime">抖M合成了曾经的荣光-橙黄</span><br>
<li>10时54分04秒，<span class="lime">抖M合成了曾经的荣光-橙黄</span><br>
<li>10时54分03秒，<span class="clan">kaze对AC专业喷子做出了107点的攻击，一定是有练过。</span><br>
<li>10时53分54秒，<span class="clan">kaze对AC搬运职人做出了109点的攻击，一定是有练过。</span><br>
<li>10时53分48秒，<span class="clan">kaze对AC专业喷子做出了136点的攻击，一定是有练过。</span><br>
<li>10时53分42秒，<span class="clan">抖M对任凯做出了125点的攻击，一定是有练过。</span><br>
<li>10时53分40秒，<span class="clan">kaze对AC字幕职人做出了110点的攻击，一定是有练过。</span><br>
<li>10时53分28秒，<span class="clan">kaze对AC字幕职人做出了116点的攻击，一定是有练过。</span><br>
<li>10时53分26秒，<span class="lime">蕾米莉亚合成了绿宝石方块</span><br>
<li>10时53分21秒，<span class="yellow">任凯(男生9号)进入了大逃杀战场</span><br>
<li>10时53分21秒，<span class="clan">抖M拿了什么神兵？荒山小屋被打了157滴血。</span><br>
<li>10时53分04秒，<span class="clan">kaze对AC字幕职人做出了101点的攻击，一定是有练过。</span><br>
<li>10时52分44秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时52分44秒，<span class="clan">抖M对AC翻唱职人做出了142点的攻击，一定是有练过。</span><br>
<li>10时52分42秒，<span class="clan">抖M对AC翻唱职人做出了139点的攻击，一定是有练过。</span><br>
<li>10时52分36秒，<span class="yellow">AC翻唱职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC翻唱职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时52分36秒，<span class="clan">抖M对AC翻唱职人做出了136点的攻击，一定是有练过。</span><br>
<li>10时52分33秒，<span class="yellow">AC字幕职人</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC字幕职人：“我觉得我还可以抢救一下……”】</span><br>
<li>10时52分33秒，<span class="clan">抖M对AC字幕职人做出了142点的攻击，一定是有练过。</span><br>
<li>10时52分31秒，<span class="lime">mengling合成了水符「Princess Undine」</span><br>
<li>10时52分30秒，<span class="clan">抖M对AC字幕职人做出了138点的攻击，一定是有练过。</span><br>
<li>10时52分27秒，<span class="clan">抖M对AC翻唱职人做出了142点的攻击，一定是有练过。</span><br>
<li>10时52分20秒，<span class="clan">抖M对AC字幕职人做出了141点的攻击，一定是有练过。</span><br>
<li>10时52分03秒，<span class="clan">抖M对AC翻唱职人做出了139点的攻击，一定是有练过。</span><br>
<li>10时51分49秒，<span class="clan">抖M对AC翻唱职人做出了136点的攻击，一定是有练过。</span><br>
<li>10时51分47秒，<span class="clan">蕾米莉亚拿了什么神兵？AC搬运职人被打了176滴血。</span><br>
<li>10时51分44秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">抖M</span>发动<span class="red">日符「Royal Flare」-劣</span>以灵力杀死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>10时51分44秒，<span class="clan">抖M对AC专业喷子做出了143点的攻击，一定是有练过。</span><br>
<li>10时51分41秒，<span class="clan">抖M对AC翻唱职人做出了140点的攻击，一定是有练过。</span><br>
<li>10时51分41秒，<span class="clan">思念体-触手众对蕾米莉亚做出了118点的攻击，一定是有练过。</span><br>
<li>10时51分16秒，<span class="clan">抖M拿了什么神兵？AC字幕职人被打了152滴血。</span><br>
<li>10时51分12秒，<span class="yellow">873976774</span>被<span class="yellow">真职人 爱情上甘岭</span>使用<span class="red">『阿里嘎头哦～』</span>斩杀<span class="yellow">【参战者 873976774 什么都没说就死去了】</span><br>
<li>10时51分12秒，<span class="clan">爱情上甘岭使出武器中内藏的力量！可怜的873976774受到了489点的伤害！</span><br>
<li>10时51分10秒，<span class="clan">抖M对AC专业喷子做出了135点的攻击，一定是有练过。</span><br>
<li>10时51分08秒，<span class="clan">抖M对AC专业喷子做出了133点的攻击，一定是有练过。</span><br>
<li>10时51分06秒，<span class="clan">抖M对AC翻唱职人做出了138点的攻击，一定是有练过。</span><br>
<li>10时51分03秒，<span class="lime">873976774使用了【风神的神德】，天气变成了雷雨！</span><br>
<li>10时50分59秒，<span class="clan">抖M对AC专业喷子做出了132点的攻击，一定是有练过。</span><br>
<li>10时50分54秒，<span class="clan">抖M对AC字幕职人做出了127点的攻击，一定是有练过。</span><br>
<li>10时50分43秒，<span class="yellow">kaze(男生8号)进入了大逃杀战场</span><br>
<li>10时50分39秒，<span class="clan">抖M对AC字幕职人做出了139点的攻击，一定是有练过。</span><br>
<li>10时50分25秒，<span class="clan">抖M对AC字幕职人做出了142点的攻击，一定是有练过。</span><br>
<li>10时50分18秒，<span class="clan">Exocet使出浑身解数奋力一击！354点伤害！873976774还安好吗？</span><br>
<li>10时50分18秒，<span class="red">Exocet的攻击致使873976774</span><span class="grey">混乱</span><span class="red">了</span><br>
<li>10时50分18秒，<span class="red">Exocet的攻击致使873976774</span><span class="purple">中毒</span><span class="red">了</span><br>
<li>10时50分17秒，<span class="lime">抖M合成了日符「Royal Flare」-劣</span><br>
<li>10时50分11秒，<span class="lime">抖M使用了驱云弹，天气变成了大晴！</span><br>
<li>10时49分47秒，<span class="yellow">873976774(男生7号)进入了大逃杀战场</span><br>
<li>10时49分36秒，<span class="yellow">89029654(男生6号)进入了大逃杀战场</span><br>
<li>10时49分21秒，<span class="yellow">q86966233(男生5号)进入了大逃杀战场</span><br>
<li>10时49分08秒，<span class="yellow">mengling(男生4号)进入了大逃杀战场</span><br>
<li>10时49分07秒，<span class="yellow">荒山小屋(男生3号)进入了大逃杀战场</span><br>
<li>10时49分02秒，<span class="yellow">抖M(男生2号)进入了大逃杀战场</span><br>
<li>10时49分01秒，<span class="yellow">蕾米莉亚(女生1号)进入了大逃杀战场</span><br>
<li>10时49分00秒，<span class="red">第1830回ACFUN大逃杀开始了</span><br>
</ul>