<ul><span class="evergreen"><B>7月7日(星期四)</B></span><br><li>22时34分08秒，<span class="lime">东风谷 早苗使奇迹降临了！天气变成了浓雾！</span><br>
<li>22时32分27秒，<span class="lime">东风谷 早苗使奇迹降临了！天气变成了川雾！</span><br>
<li>22时29分57秒，<span class="yellow">训练部队 军刀兵18号</span>被<span class="yellow">某四面</span>使用<span class="red">光压收束炮</span>射杀<span class="yellow">【训练部队 军刀兵18号：“魂淡！我的胜率又下降了！”】</span><br>
<li>22时29分57秒，<span class="clan">某四面燃烧自己的生命得到了不可思议的力量！【41540】点的伤害值，没天理啊……军刀兵18号死——定——了！</span><br>
<li>22时29分42秒，<span class="yellow">训练部队 工程兵24号</span>被<span class="yellow">某四面</span>使用<span class="red">光压收束炮</span>射杀<span class="yellow">【训练部队 工程兵24号：“魂淡！我的胜率又下降了！”】</span><br>
<li>22时29分42秒，<span class="clan">某四面燃烧自己的生命得到了不可思议的力量！【49204】点的伤害值，没天理啊……工程兵24号死——定——了！</span><br>
<li>22时29分42秒，<span class="red">某四面的攻击致使工程兵24号</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>22时27分18秒，<span class="yellow">Key Fan Club admin</span>被<span class="yellow">某四面</span>使用<span class="red">光压收束炮</span>射杀<span class="yellow">【Key Fan Club admin 什么都没说就死去了】</span><br>
<li>22时27分18秒，<span class="clan">某四面燃烧自己的生命得到了不可思议的力量！【33951】点的伤害值，没天理啊……admin死——定——了！</span><br>
<li>22时27分17秒，<span class="lime">某四面使用了凸眼鱼，2具尸体被吸走了！</span><br>
<li>22时27分13秒，<span class="yellow">训练部队 军刀兵11号</span>被<span class="yellow">某四面</span>使用<span class="red">光压收束炮</span>射杀<span class="yellow">【训练部队 军刀兵11号：“魂淡！我的胜率又下降了！”】</span><br>
<li>22时27分13秒，<span class="clan">某四面燃烧自己的生命得到了不可思议的力量！【79915】点的伤害值，没天理啊……军刀兵11号死——定——了！</span><br>
<li>22时26分51秒，<span class="yellow">训练部队 军刀兵23号</span>被<span class="yellow">某四面</span>使用<span class="red">光压收束炮</span>射杀<span class="yellow">【训练部队 军刀兵23号：“魂淡！我的胜率又下降了！”】</span><br>
<li>22时26分51秒，<span class="clan">某四面燃烧自己的生命得到了不可思议的力量！【47394】点的伤害值，没天理啊……军刀兵23号死——定——了！</span><br>
<li>22时26分51秒，<span class="red">某四面的攻击致使军刀兵23号</span><span class="yellow">身体麻痹</span><span class="red">了</span><br>
<li>22时26分46秒，<span class="yellow">某四面(男生2号)进入了虚拟战场</span><br>
<li>22时26分08秒，<span class="yellow">Array admin(男生1号)进入了虚拟战场</span><br>
<li>22时26分00秒，<span class="red">第3回ACFUN大逃杀开始了</span><br>
<li>22时25分38秒，<span class="yellow">虚拟战场初始化完毕</span><br>
<li>22时25分38秒，<span class="yellow">复制镜像 影-admin进入了虚拟战场</span><br>
<li>22时25分38秒，<span class="yellow">240名训练部队进入了虚拟战场</span><br>
<li>22时25分38秒，<span class="yellow">9名非作战人员进入了虚拟战场</span><br>
</ul>