{template header}
<div class="subtitle" >{lang news}</div>

<div align="left">
<div class="clearfix">
<span style="float:left;" ><img border="0" src="img/n_1.gif"></span>
<span>{lang newsnotice}</span>
</div>
<br>
<!--{if $hack}--><span class="yellow"><b>（禁区已解除）</b></span><!--{/if}-->
{template areainfo}
<br><br>
<button onClick="showNews('last');return false;">显示最新的{$newslimit}条消息</button>
<button onClick="showNews('all');return false;">显示全部消息</button>
<button onClick="showNews('chat');return false;">显示最新聊天纪录</button>


<div id="newsinfo">
<!--{if $newsmode == 'all'}-->
{template newsinfo}
<!--{else}-->
{template lastnews}
<!--{/if}-->
</div>

</div>
<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>

{template footer}