<ul><span class="evergreen"><B>12月12日(星期日)</B></span><br><li>07时42分57秒，<span class="yellow">林无月</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【举办者 林无月 ： 呜……这个躯体……咱还是无法自由运用啊……】</span><br>
<li>07时42分57秒，<span class="clan">四面 对 林无月 做出了 112 点的攻击！ 一定是有练过！ </span><br>
<li>07时42分50秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 228 点伤害！！  </span><br>
<li>07时42分50秒，<span class="clan">四面 拿了什么神兵！？ 林无月 被打了 192 滴血！！  </span><br>
<li>07时42分34秒，<span class="clan">四面 发出会心一击！！！ 林无月 损失了 288 点生命！！！  </span><br>
<li>07时42分34秒，<span class="clan">林无月 拿了什么神兵！？ 四面 被打了 186 滴血！！  </span><br>
<li>07时42分25秒，<span class="clan">四面 对 林无月 做出了 104 点的攻击！ 一定是有练过！ </span><br>
<li>07时42分15秒，<span class="yellow">神尾 观铃</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【非作战人员 神尾 观铃 ： 怎……怎么会这样？】</span><br>
<li>07时42分15秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 神尾 观铃 受到了 438 点的伤害！！！！  </span><br>
<li>07时41分45秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时41分45秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1926 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时41分38秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时41分38秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 钉棍军人 被打掉 798 点生命值！！！！！  </span><br>
<li>07时41分31秒，<span class="clan">四面 发出会心一击！！！ 林无月 损失了 272 点生命！！！  </span><br>
<li>07时41分31秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 242 点伤害！！  </span><br>
<li>07时41分08秒，<span class="clan">四面 发出会心一击！！！ 神尾 观铃 损失了 285 点生命！！！  </span><br>
<li>07时40分58秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 神尾 观铃 被打掉 756 点生命值！！！！！  </span><br>
<li>07时40分53秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 神尾 观铃 受到了 453 点的伤害！！！！  </span><br>
<li>07时40分23秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 360 点伤害！！！ 林无月 还活着吗？ </span><br>
<li>07时40分23秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 242 点伤害！！  </span><br>
<li>07时40分15秒，<span class="clan">林无月 使出呼风唤雨的力量！！！！可怜的 四面 受到了 468 点的伤害！！！！  </span><br>
<li>07时40分15秒，<span class="clan">四面 拿了什么神兵！？ 林无月 被打了 178 滴血！！  </span><br>
<li>07时40分10秒，<span class="clan">林无月 使出浑身解数奋力一击！！！ 396 点伤害！！！ 四面 还活着吗？ </span><br>
<li>07时40分06秒，<span class="clan">林无月 发出会心一击！！！ 四面 损失了 288 点生命！！！  </span><br>
<li>07时40分03秒，<span class="clan">四面 对 林无月 做出了 102 点的攻击！ 一定是有练过！ </span><br>
<li>07时39分36秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时39分36秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 2409 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时39分06秒，<span class="yellow">神尾 观铃</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【非作战人员 神尾 观铃 ： 怎……怎么会这样？】</span><br>
<li>07时39分06秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 神尾 观铃 被打掉 828 点生命值！！！！！  </span><br>
<li>07时38分45秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 神尾 观铃 受到了 448 点的伤害！！！！  </span><br>
<li>07时38分38秒，<span class="clan">四面 简直不是人！！ 神尾 观铃 瞬间被打了 204 点伤害！！  </span><br>
<li>07时38分18秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 202 点伤害！！  </span><br>
<li>07时38分18秒，<span class="clan">四面 对 林无月 做出了 118 点的攻击！ 一定是有练过！ </span><br>
<li>07时37分46秒，<span class="clan">四面 拿了什么神兵！？ 神尾 观铃 被打了 190 滴血！！  </span><br>
<li>07时37分40秒，<span class="clan">四面 拿了什么神兵！？ 神尾 观铃 被打了 160 滴血！！  </span><br>
<li>07时37分13秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 林无月 招架不住，生命减少 523 点！！！！  </span><br>
<li>07时37分13秒，<span class="clan">林无月 拿了什么神兵！？ 四面 被打了 180 滴血！！  </span><br>
<li>07时36分07秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 神尾 观铃 受到了 450 点的伤害！！！！  </span><br>
<li>07时35分24秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 224 点伤害！！  </span><br>
<li>07时35分15秒，<span class="clan">林无月 对 四面 做出了 144 点的攻击！ 一定是有练过！ </span><br>
<li>07时35分15秒，<span class="clan">四面 拿了什么神兵！？ 林无月 被打了 174 滴血！！  </span><br>
<li>07时34分54秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时34分54秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 3340 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时34分41秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时34分41秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1008 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时34分24秒，<span class="yellow">水濑 名雪-改</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【全息幻象 水濑 名雪-改 ： 机体受损过重，任务被迫中止。】</span><br>
<li>07时34分24秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 水濑 名雪-改 招架不住，生命减少 525 点！！！！  </span><br>
<li>07时34分19秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 神尾 观铃 招架不住，生命减少 630 点！！！！  </span><br>
<li>07时34分16秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 水濑 名雪-改 招架不住，生命减少 702 点！！！！  </span><br>
<li>07时34分06秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时34分06秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 2463 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时33分55秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时33分55秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1078 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时33分50秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时33分50秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1260 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时33分39秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时33分39秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 钉棍军人 招架不住，生命减少 680 点！！！！  </span><br>
<li>07时33分34秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 水濑 名雪-改 招架不住，生命减少 522 点！！！！  </span><br>
<li>07时33分23秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 神尾 观铃 受到了 492 点的伤害！！！！  </span><br>
<li>07时32分40秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时32分40秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1062 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时32分34秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时32分34秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1890 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时32分31秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 330 点伤害！！！ 水濑 名雪-改 还活着吗？ </span><br>
<li>07时32分23秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时32分23秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 2883 」 点的伤害值，没天理啊… 路人-DC军Cos 死-定-了！！！！！  </span><br>
<li>07时32分17秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时32分17秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1143 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时31分49秒，<span class="clan">四面 对 冴月 麟 做出了 114 点的攻击！ 一定是有练过！ </span><br>
<li>07时31分37秒，<span class="clan">冴月 麟 简直不是人！！ 四面 瞬间被打了 238 点伤害！！  </span><br>
<li>07时31分31秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时31分31秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1166 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时31分04秒，<span class="lime">四面使用武器师安雅的奖赏，改造了<span class="yellow">『AK-47』</span>！</span><br>
<li>07时31分02秒，<span class="lime">四面合成了武器师安雅的奖赏</span><br>
<li>07时30分41秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分41秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 路人-DC军Cos 被打掉 778 点生命值！！！！！  </span><br>
<li>07时30分37秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分37秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 钉棍军人 被打掉 758 点生命值！！！！！  </span><br>
<li>07时30分34秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分34秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 路人-DC军Cos 招架不住，生命减少 700 点！！！！  </span><br>
<li>07时30分26秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分26秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1560 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时30分23秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分23秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1502 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时30分12秒，<span class="red">游戏进入连斗阶段！</span><br>
<li>07时30分11秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时30分11秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1488 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时29分59秒，<span class="clan">林无月 拿了什么神兵！？ 四面 被打了 194 滴血！！  </span><br>
<li>07时29分53秒，<span class="lime">四面使用了凸眼鱼，35具尸体被吸走了！</span><br>
<li>07时29分34秒，<span class="clan">林无月 使出浑身解数奋力一击！！！ 339 点伤害！！！ 四面 还活着吗？ </span><br>
<li>07时29分22秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时29分22秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 2403 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时28分43秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时28分43秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1042 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时28分35秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时28分35秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 银流羽团员 招架不住，生命减少 664 点！！！！  </span><br>
<li>07时28分31秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时28分31秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1054 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时28分23秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时28分23秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 钉棍军人 招架不住，生命减少 748 点！！！！  </span><br>
<li>07时28分13秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时28分13秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1144 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时27分23秒，<span class="yellow">挂机伴侣(男生 3 号)加入了本次游戏</span><br>
<li>07时26分52秒，<span class="yellow">stage4</span>被<span class="yellow">举办者 林无月</span>使用<span class="red">Neo Axe Remote</span>射杀<span class="yellow">【stage4 ： 】</span><br>
<li>07时26分52秒，<span class="clan">林无月 燃烧自己的生命得到了不可思议的力量！！！！！ 「 7035 」 点的伤害值，没天理啊… stage4 死-定-了！！！！！  </span><br>
<li>07时26分00秒，<span class="yellow">stage4(男生 2 号)加入了本次游戏</span><br>
<li>07时25分13秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时25分13秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1006 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时24分57秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时24分57秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ TK计划支持者 招架不住，生命减少 732 点！！！！  </span><br>
<li>07时24分51秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时24分51秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1293 」 点的伤害值，没天理啊… 路人-DC军Cos 死-定-了！！！！！  </span><br>
<li>07时24分40秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时24分40秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 路人-DC军Cos 被打掉 986 点生命值！！！！！  </span><br>
<li>07时24分26秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时24分26秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ TK计划支持者 招架不住，生命减少 632 点！！！！  </span><br>
<li>07时24分18秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 362 点伤害！！！ 水濑 名雪-改 还活着吗？ </span><br>
<li>07时23分59秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时23分59秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 路人-DC军Cos 招架不住，生命减少 540 点！！！！  </span><br>
<li>07时23分55秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时23分55秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 钉棍军人 受到了 411 点的伤害！！！！  </span><br>
<li>07时23分41秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时23分41秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 TK计划支持者 受到了 432 点的伤害！！！！  </span><br>
<li>07时23分27秒，<span class="clan">四面 简直不是人！！ 钉棍军人 瞬间被打了 249 点伤害！！  </span><br>
<li>07时23分13秒，<span class="clan">四面 拿了什么神兵！？ 神尾 观铃 被打了 152 滴血！！  </span><br>
<li>07时23分06秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时23分06秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 路人-DC军Cos 被打掉 916 点生命值！！！！！  </span><br>
<li>07时22分51秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时22分51秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 路人-DC军Cos 招架不住，生命减少 534 点！！！！  </span><br>
<li>07时22分38秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时22分38秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 495 点的伤害！！！！  </span><br>
<li>07时22分14秒，<span class="clan">四面 对 林无月 做出了 132 点的攻击！ 一定是有练过！ </span><br>
<li>07时22分01秒，<span class="clan">林无月 对 四面 做出了 111 点的攻击！ 一定是有练过！ </span><br>
<li>07时21分39秒，<span class="clan">四面 对 林无月 做出了 112 点的攻击！ 一定是有练过！ </span><br>
<li>07时21分10秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 219 点伤害！！  </span><br>
<li>07时20分44秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时20分44秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 399 点伤害！！！ 路人-DC军Cos 还活着吗？ </span><br>
<li>07时20分21秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时20分21秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 路人-DC军Cos 被打掉 954 点生命值！！！！！  </span><br>
<li>07时19分48秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时19分48秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ TK计划支持者 招架不住，生命减少 594 点！！！！  </span><br>
<li>07时19分17秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 179 滴血！！  </span><br>
<li>07时18分56秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时18分56秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 钉棍军人 受到了 482 点的伤害！！！！  </span><br>
<li>07时18分45秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时18分45秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1000 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时18分35秒，<span class="clan">林无月 拿了什么神兵！？ 四面 被打了 194 滴血！！  </span><br>
<li>07时18分02秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时18分02秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1287 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时17分10秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时17分10秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1086 」 点的伤害值，没天理啊… 银流羽团员 死-定-了！！！！！  </span><br>
<li>07时16分22秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时16分22秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 银流羽团员 招架不住，生命减少 590 点！！！！  </span><br>
<li>07时16分17秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时16分17秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – 钉棍军人 被打掉 778 点生命值！！！！！  </span><br>
<li>07时16分12秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时16分12秒，<span class="clan">四面 发出会心一击！！！ 钉棍军人 损失了 295 点生命！！！  </span><br>
<li>07时15分31秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时15分31秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1342 」 点的伤害值，没天理啊… 钉棍军人 死-定-了！！！！！  </span><br>
<li>07时14分39秒，<span class="clan">冴月 麟 简直不是人！！ 四面 瞬间被打了 204 点伤害！！  </span><br>
<li>07时13分23秒，<span class="clan">林无月 对 四面 做出了 130 点的攻击！ 一定是有练过！ </span><br>
<li>07时12分58秒，<span class="clan">林无月 拿了什么神兵！？ 四面 被打了 192 滴血！！  </span><br>
<li>07时12分36秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时12分36秒，<span class="clan">四面 简直不是人！！ 钉棍军人 瞬间被打了 243 点伤害！！  </span><br>
<li>07时12分05秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时12分05秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 470 点的伤害！！！！  </span><br>
<li>07时11分34秒，<span class="red">四面得到了常磐之灵加护！</span><br>
<li>07时11分23秒，<span class="yellow">四面</span>被<span class="yellow">神北 小毬许愿复活</span><br>
<li>07时11分11秒，<span class="yellow">四面</span>因食用了有毒的<span class="red">大天使的气息</span>被毒死<span class="yellow">【四面 ： 唔啊。】</span><br>
<li>07时10分53秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>07时10分53秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 路人-DC军Cos 招架不住，生命减少 591 点！！！！  </span><br>
<li>07时10分37秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时10分37秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1005 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时10分12秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时10分12秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1314 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时10分04秒，<span class="clan">林无月 简直不是人！！ 四面 瞬间被打了 243 点伤害！！  </span><br>
<li>07时09分51秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时09分51秒，<span class="clan">四面 受到天神的加护，打出惊天动地的一击 – TK计划支持者 被打掉 966 点生命值！！！！！  </span><br>
<li>07时09分47秒，<span class="clan">四面 简直不是人！！ 林无月 瞬间被打了 237 点伤害！！  </span><br>
<li>07时09分41秒，<span class="lime">四面使用了凸眼鱼，64具尸体被吸走了！</span><br>
<li>07时09分19秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时09分19秒，<span class="clan">四面 燃烧自己的生命得到了不可思议的力量！！！！！ 「 1275 」 点的伤害值，没天理啊… TK计划支持者 死-定-了！！！！！  </span><br>
<li>07时07分49秒，<span class="clan">四面 对 林无月 做出了 141 点的攻击！ 一定是有练过！ </span><br>
<li>07时07分27秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">『AK-47』</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时07分27秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 钉棍军人 受到了 412 点的伤害！！！！  </span><br>
<li>07时06分54秒，<span class="clan">四面 拿了什么神兵！？ 神尾 观铃 被打了 180 滴血！！  </span><br>
<li>07时06分40秒，<span class="clan">四面 简直不是人！！ 思念体-AC众 瞬间被打了 219 点伤害！！  </span><br>
<li>07时06分27秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>07时06分27秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 TK计划支持者 受到了 457 点的伤害！！！！  </span><br>
<li>07时05分13秒，<span class="yellow">四面启动了hack程序，全部禁区解除！</span><br>
<li>07时05分10秒，<span class="red">四面得到了常磐之灵加护！</span><br>
<li>07时00分00秒，增加禁区：清水池 <span class="yellow">【天气：大晴】</span><br>
<li>06时00分00秒，增加禁区：ACFUN贴吧 <span class="yellow">【天气：小雨】</span><br>
<li>05时00分00秒，增加禁区：常磐镇医院 <span class="yellow">【天气：多云】</span><br>
<li>04时00分00秒，增加禁区：对天使用作战本部 <span class="yellow">【天气：浓雾】</span><br>
<li>03时00分00秒，增加禁区：墓地 <span class="yellow">【天气：暴雨】</span><br>
<li>02时00分00秒，增加禁区：雪之镇 <span class="yellow">【天气：浓雾】</span><br>
<li>01时00分00秒，增加禁区：光坂高校 <span class="yellow">【天气：大晴】</span><br>
<li>00时35分15秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时35分15秒，<span class="clan">四面 发出会心一击！！！ 路人-DC军Cos 损失了 275 点生命！！！  </span><br>
<li>00时35分05秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时35分05秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ TK计划支持者 招架不住，生命减少 673 点！！！！  </span><br>
<li>00时34分49秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时34分49秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 银流羽团员 招架不住，生命减少 585 点！！！！  </span><br>
<li>00时33分58秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分58秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 银流羽团员 受到了 470 点的伤害！！！！  </span><br>
<li>00时33分50秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分50秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 银流羽团员 招架不住，生命减少 523 点！！！！  </span><br>
<li>00时33分46秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分46秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 路人-DC军Cos 招架不住，生命减少 547 点！！！！  </span><br>
<li>00时33分21秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分21秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 401 点的伤害！！！！  </span><br>
<li>00时33分17秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分17秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 436 点的伤害！！！！  </span><br>
<li>00时33分10秒，<span class="clan">四面 简直不是人！！ 钉棍军人 瞬间被打了 234 点伤害！！  </span><br>
<li>00时33分01秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时33分01秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 钉棍军人 招架不住，生命减少 678 点！！！！  </span><br>
<li>00时32分51秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时32分51秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ TK计划支持者 招架不住，生命减少 573 点！！！！  </span><br>
<li>00时32分41秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时32分41秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 343 点伤害！！！ 银流羽团员 还活着吗？ </span><br>
<li>00时32分22秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时32分22秒，<span class="clan">四面 发出会心一击！！！ TK计划支持者 损失了 285 点生命！！！  </span><br>
<li>00时31分25秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时31分25秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 433 点的伤害！！！！  </span><br>
<li>00时30分36秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时30分36秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ TK计划支持者 招架不住，生命减少 531 点！！！！  </span><br>
<li>00时30分12秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时30分12秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 钉棍军人 受到了 421 点的伤害！！！！  </span><br>
<li>00时29分55秒，<span class="clan">四面 对 思念体-AC众 做出了 132 点的攻击！ 一定是有练过！ </span><br>
<li>00时29分51秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分51秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 362 点伤害！！！ 路人-DC军Cos 还活着吗？ </span><br>
<li>00时29分46秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分46秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 银流羽团员 招架不住，生命减少 622 点！！！！  </span><br>
<li>00时29分34秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分34秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 447 点的伤害！！！！  </span><br>
<li>00时29分29秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分29秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 钉棍军人 受到了 430 点的伤害！！！！  </span><br>
<li>00时29分23秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分23秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 211 点伤害！！  </span><br>
<li>00时29分11秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时29分11秒，<span class="clan">四面 发出会心一击！！！ 路人-DC军Cos 损失了 291 点生命！！！  </span><br>
<li>00时28分43秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时28分43秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 350 点伤害！！！ 钉棍军人 还活着吗？ </span><br>
<li>00时28分39秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时28分39秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 224 点伤害！！  </span><br>
<li>00时28分22秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时28分22秒，<span class="clan">四面 发出会心一击！！！ 银流羽团员 损失了 255 点生命！！！  </span><br>
<li>00时27分53秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时27分53秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 钉棍军人 招架不住，生命减少 628 点！！！！  </span><br>
<li>00时27分48秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 184 滴血！！  </span><br>
<li>00时27分44秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时27分44秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 钉棍军人 招架不住，生命减少 610 点！！！！  </span><br>
<li>00时27分23秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时27分23秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 379 点伤害！！！ 钉棍军人 还活着吗？ </span><br>
<li>00时26分48秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时26分48秒，<span class="clan">四面 使出呼风唤雨的力量！！！！可怜的 路人-DC军Cos 受到了 414 点的伤害！！！！  </span><br>
<li>00时26分44秒，<span class="clan">四面 拿了什么神兵！？ 钉棍军人 被打了 198 滴血！！  </span><br>
<li>00时26分31秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 196 滴血！！  </span><br>
<li>00时26分25秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时26分25秒，<span class="clan">四面 手中的武器闪耀出七彩光芒！！！！ 路人-DC军Cos 招架不住，生命减少 611 点！！！！  </span><br>
<li>00时26分08秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时26分08秒，<span class="clan">四面 使出浑身解数奋力一击！！！ 391 点伤害！！！ 银流羽团员 还活着吗？ </span><br>
<li>00时26分00秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时26分00秒，<span class="clan">四面 发出会心一击！！！ TK计划支持者 损失了 262 点生命！！！  </span><br>
<li>00时25分55秒，<span class="clan">四面 简直不是人！！ TK计划支持者 瞬间被打了 202 点伤害！！  </span><br>
<li>00时25分18秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">观铃的嘎哦嘎哦恐龙喷火分队</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时25分18秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 路人-DC军Cos 招架不住，生命减少 506 点！！！！  </span><br>
<li>00时24分49秒，<span class="lime">四面合成了观铃的嘎哦嘎哦恐龙喷火分队</span><br>
<li>00时24分04秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时24分04秒，<span class="clan">四面 拿了什么神兵！？ 钉棍军人 被打了 194 滴血！！  </span><br>
<li>00时22分51秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时22分40秒，<span class="clan">四面 拿了什么神兵！？ 钉棍军人 被打了 180 滴血！！  </span><br>
<li>00时21分56秒，<span class="clan">四面 对 钉棍军人 做出了 112 点的攻击！ 一定是有练过！ </span><br>
<li>00时21分02秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时21分02秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 246 点伤害！！  </span><br>
<li>00时19分45秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时19分45秒，<span class="clan">四面 发挥所有潜能使出绝招！！！！ 银流羽团员 招架不住，生命减少 500 点！！！！  </span><br>
<li>00时16分48秒，<span class="clan">四面 对 路人-DC军Cos 做出了 107 点的攻击！ 一定是有练过！ </span><br>
<li>00时16分29秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">毒液枪</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时16分29秒，<span class="clan">四面 简直不是人！！ 路人-DC军Cos 瞬间被打了 234 点伤害！！  </span><br>
<li>00时16分23秒，<span class="clan">四面 简直不是人！！ TK计划支持者 瞬间被打了 248 点伤害！！  </span><br>
<li>00时15分22秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 221 点伤害！！  </span><br>
<li>00时13分44秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时13分44秒，<span class="clan">四面 发出会心一击！！！ 路人-DC军Cos 损失了 270 点生命！！！  </span><br>
<li>00时13分10秒，<span class="clan">四面 对 路人-DC军Cos 做出了 140 点的攻击！ 一定是有练过！ </span><br>
<li>00时12分55秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时12分55秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 242 点伤害！！  </span><br>
<li>00时12分44秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 163 滴血！！  </span><br>
<li>00时10分55秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时10分55秒，<span class="clan">四面 简直不是人！！ 钉棍军人 瞬间被打了 220 点伤害！！  </span><br>
<li>00时10分51秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时10分51秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 167 滴血！！  </span><br>
<li>00时10分23秒，<span class="clan">四面 对 银流羽团员 做出了 130 点的攻击！ 一定是有练过！ </span><br>
<li>00时10分00秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>00时10分00秒，<span class="clan">四面 简直不是人！！ 路人-DC军Cos 瞬间被打了 217 点伤害！！  </span><br>
<li>00时09分44秒，<span class="clan">四面 对 路人-DC军Cos 做出了 114 点的攻击！ 一定是有练过！ </span><br>
<li>00时09分42秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 185 滴血！！  </span><br>
<li>00时09分05秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 173 滴血！！  </span><br>
<li>00时09分01秒，<span class="clan">四面 对 银流羽团员 做出了 108 点的攻击！ 一定是有练过！ </span><br>
<li>00时08分39秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 192 滴血！！  </span><br>
<li>00时08分22秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 151 滴血！！  </span><br>
<li>00时08分03秒，<span class="clan">四面 对 路人-DC军Cos 做出了 142 点的攻击！ 一定是有练过！ </span><br>
<li>00时07分26秒，<span class="clan">四面 简直不是人！！ 银流羽团员 瞬间被打了 241 点伤害！！  </span><br>
<li>00时05分42秒，<span class="clan">四面 对 钉棍军人 做出了 117 点的攻击！ 一定是有练过！ </span><br>
<li>00时04分51秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时04分51秒，<span class="clan">四面 对 银流羽团员 做出了 121 点的攻击！ 一定是有练过！ </span><br>
<li>00时03分10秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时03分10秒，<span class="clan">四面 对 钉棍军人 做出了 139 点的攻击！ 一定是有练过！ </span><br>
<li>00时02分49秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 192 滴血！！  </span><br>
<li>00时02分45秒，<span class="clan">四面 对 银流羽团员 做出了 122 点的攻击！ 一定是有练过！ </span><br>
<li>00时02分36秒，<span class="clan">四面 拿了什么神兵！？ 钉棍军人 被打了 161 滴血！！  </span><br>
<li>00时01分35秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 180 滴血！！  </span><br>
<li>00时01分03秒，<span class="clan">四面 对 钉棍军人 做出了 110 点的攻击！ 一定是有练过！ </span><br>
<li>00时00分57秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>00时00分57秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 176 滴血！！  </span><br>
<li>00时00分37秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 178 滴血！！  </span><br>
<li>00时00分00秒，增加禁区：白穗神社 <span class="yellow">【天气：大晴】</span><br>
<span class="evergreen"><B>12月11日(星期六)</B></span><br><li>23时58分36秒，<span class="clan">四面 对 钉棍军人 做出了 124 点的攻击！ 一定是有练过！ </span><br>
<li>23时58分29秒，<span class="clan">四面 对 钉棍军人 做出了 144 点的攻击！ 一定是有练过！ </span><br>
<li>23时57分39秒，<span class="clan">四面 对 银流羽团员 做出了 102 点的攻击！ 一定是有练过！ </span><br>
<li>23时57分27秒，<span class="clan">四面 对 TK计划支持者 做出了 118 点的攻击！ 一定是有练过！ </span><br>
<li>23时57分06秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>23时57分06秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 186 滴血！！  </span><br>
<li>23时56分55秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时56分55秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 180 滴血！！  </span><br>
<li>23时56分52秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 153 滴血！！  </span><br>
<li>23时56分41秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时56分41秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 152 滴血！！  </span><br>
<li>23时56分00秒，<span class="clan">四面 简直不是人！！ TK计划支持者 瞬间被打了 218 点伤害！！  </span><br>
<li>23时55分48秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时55分48秒，<span class="clan">四面 对 银流羽团员 做出了 145 点的攻击！ 一定是有练过！ </span><br>
<li>23时55分42秒，<span class="clan">四面 拿了什么神兵！？ TK计划支持者 被打了 153 滴血！！  </span><br>
<li>23时55分38秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 164 滴血！！  </span><br>
<li>23时55分32秒，<span class="clan">四面 对 TK计划支持者 做出了 131 点的攻击！ 一定是有练过！ </span><br>
<li>23时54分46秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时54分46秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 161 滴血！！  </span><br>
<li>23时54分29秒，<span class="clan">四面 拿了什么神兵！？ 银流羽团员 被打了 172 滴血！！  </span><br>
<li>23时52分59秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时52分59秒，<span class="clan">四面 对 TK计划支持者 做出了 145 点的攻击！ 一定是有练过！ </span><br>
<li>23时52分36秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时52分36秒，<span class="clan">四面 对 TK计划支持者 做出了 123 点的攻击！ 一定是有练过！ </span><br>
<li>23时52分10秒，<span class="clan">四面 对 TK计划支持者 做出了 124 点的攻击！ 一定是有练过！ </span><br>
<li>23时51分54秒，<span class="clan">四面 对 TK计划支持者 做出了 140 点的攻击！ 一定是有练过！ </span><br>
<li>23时51分47秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 185 滴血！！  </span><br>
<li>23时51分13秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>23时51分13秒，<span class="clan">四面 对 路人-DC军Cos 做出了 105 点的攻击！ 一定是有练过！ </span><br>
<li>23时50分16秒，<span class="clan">四面 对 银流羽团员 做出了 139 点的攻击！ 一定是有练过！ </span><br>
<li>23时50分04秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时50分04秒，<span class="clan">四面 对 TK计划支持者 做出了 143 点的攻击！ 一定是有练过！ </span><br>
<li>23时49分40秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>23时49分40秒，<span class="clan">四面 拿了什么神兵！？ 路人-DC军Cos 被打了 156 滴血！！  </span><br>
<li>23时47分00秒，<span class="clan">四面 对 TK计划支持者 做出了 100 点的攻击！ 一定是有练过！ </span><br>
<li>23时46分56秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时46分48秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时46分48秒，<span class="clan">四面 对 银流羽团员 做出了 149 点的攻击！ 一定是有练过！ </span><br>
<li>23时46分14秒，<span class="clan">四面 对 钉棍军人 做出了 116 点的攻击！ 一定是有练过！ </span><br>
<li>23时45分17秒，<span class="yellow">路人-DC军Cos</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 路人-DC军Cos ： 我……我还没领到我的工资啊！】</span><br>
<li>23时45分17秒，<span class="clan">四面 对 路人-DC军Cos 做出了 105 点的攻击！ 一定是有练过！ </span><br>
<li>23时44分56秒，<span class="yellow">钉棍军人</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 钉棍军人 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时44分56秒，<span class="clan">四面 对 钉棍军人 做出了 115 点的攻击！ 一定是有练过！ </span><br>
<li>23时44分54秒，<span class="clan">四面 对 路人-DC军Cos 做出了 127 点的攻击！ 一定是有练过！ </span><br>
<li>23时44分30秒，<span class="clan">四面 对 钉棍军人 做出了 109 点的攻击！ 一定是有练过！ </span><br>
<li>23时44分29秒，<span class="clan">四面 对 银流羽团员 做出了 104 点的攻击！ 一定是有练过！ </span><br>
<li>23时43分53秒，<span class="yellow">TK计划支持者</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 TK计划支持者 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时41分22秒，<span class="clan">四面 对 钉棍军人 做出了 115 点的攻击！ 一定是有练过！ </span><br>
<li>23时40分59秒，<span class="yellow">银流羽团员</span>被<span class="yellow">四面</span>使用<span class="red">寂寞</span>射杀<span class="yellow">【常磐祭员工 银流羽团员 ： 我……我还没领到我的工资啊！】</span><br>
<li>23时28分56秒，<span class="lime">四面合成了咖喱面包</span><br>
<li>23时25分35秒，<span class="clan">四面 对 钉棍军人 做出了 102 点的攻击！ 一定是有练过！ </span><br>
<li>23时25分04秒，<span class="clan">四面 对 银流羽团员 做出了 106 点的攻击！ 一定是有练过！ </span><br>
<li>23时22分26秒，<span class="yellow">四面(男生 1 号)加入了本次游戏</span><br>
<li>23时22分00秒，<span class="red">第8回常磐大逃杀开始了</span><br>
</ul>