{template header}




<div class="subtitle" >{lang gamestart}</div>
<p align="center">
虚拟的会场挤满了各式各样打扮的人。<br>
各位网友一见如故，兴奋地互相攀谈着，等待着动漫祭的开幕。<br>
此次动漫祭的主办方已经易手，因此活动方式才出乎意料，虚拟现实技术的进步令人大开眼界。<br>
据说这次活动主办方的董事长——林无月，是个一切资料皆不明的人。<br>
在人肉搜索易如反掌的当今网络世界，网友们却连这个人的性别都不知道，也实属罕见。<br>
不过，他/她马上就要现身在开幕式现场了。<br>
在众多混迹于网友中间的技术帝注视之下，他/她必然逃脱不了个人资料完全曝光的命运。
</p>
<p align="center">
突然，会场的灯光熄灭了。面前出现了一个大屏幕。<br>
上面的人影只能分辨出轮廓，不过想必是林无月了。<br>
在虚拟世界还这么装逼，一旁的网友向那个人投去鄙视的目光。<br>
远处有技术帝张开了入侵结界，开始测算林无月的真实身份。
</p>
<p align="center">
“各位ACG爱好者们，咱，林无月，很荣幸来到这里，为大家展现一场优胜劣汰的进化表演。<br>
“当今网络，喷子横行，小白当道，恶俗至上，内涵式微。<br>
“想必各位也不愿意看到当年自己喜爱的网络会变成这样。<br>
“为了涤荡污浊之气，净化不正之风，咱不得不采取一些非常手段。<br>
“相信各位能够从大局出发，理解咱的良苦用心。<br>
“现在，咱宣布，第N次常磐动漫祭立刻结束！<br>
“即将开始的是——”
</p>
<p align="center">
■ TOKIWA LIFE GAME ■
<font color="#ff0000" face="黑体" size="7">
<span id="br" style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
常 磐 大 逃 杀</span>
</font>
</p>
<p align="center">
	听到这些令人震惊的话，众网友呆立当场。<br>
	有技术帝眼疾手快，想要退出虚拟现实，却被形如隙间的不明物体吞噬，连一片皮肤都没有留下。
</p>
<p align="center">
	“你们的精神已经被锁定了。如果妄图强行退出，意识就会被消灭，成为永不能在现实中醒来的植物人。<br>
	“想要安然回家，就只有一个办法。<br>
	“杀掉所有的人，只剩下你自己。<br>
	“网络各种弊病的根源，就是懦弱！淘汰掉这份懦弱，我们才能迎来一个光明的未来。<br>
	“狭路相逢勇者胜。只有生存意识最坚定的人，才能存活下来，回到现实。<br>
	“其他的人，很不幸，都将被淘汰，永远在黑暗的网络之海里彷徨。”
</p>
<p align="center">
	“在这里暂时还不需要兵戎相向，因为这里的时空已经被锁死了。<br>
	“用通俗的话说，就是禁区。踏入禁区的人，同死者无异。<br>
	“你们从这里出去以后，整个虚拟现实系统还会定时增加禁区。<br>
	“如果你们在十数个小时之内仍然无法决出最后的胜利者，那么所有人都会灰飞烟灭。<br>
	“宁缺毋滥。这个世界不需要平庸的凡人，只需要有力量的强者！<br>
	“能够撑过这即将到来的、地狱般的十数个小时的人，必然是身心都极端坚强的王中之王！”
</p>
<p align="center">
	大屏幕上的人影逐渐清晰。<br>
	这样一个神秘而凶残的林无月，竟然是一介女子！
</p>
<p align="center">
	<img border="0" src="./img/story_1.gif">
</p>
<p align="center">
	可是，她的眼神中没有一丝纯真。<br>
	狂气，与那柔弱的外表不符的狂气，从那双棕红色的瞳孔中不断涌出。<br>
	她的嘴角逐渐上扬，露出一个迷人而扭曲的笑容。
</p>
<p align="center">
	“举起槌、杖，挥向所见之人；<br>
	“扬起刀、剑，砍向所见之人；<br>
	“端起枪、铳，射向所见之人；<br>
	“以巨石赐人以伤殇；<br>
	“以爆风赐人以坏灭；<br>
	“以咒法赐人以永罚。<br>
	“凭借一切之物，超越一己之力，毁灭无限之碍，终成无敌之身。<br>
	“为胜利者献上桂冠，为失败者递上短刀；<br>
	“为努力者呈上赠物，为逃避者缠上索套；<br>
	“为正直者寄去祝福，为作恶者送去刑罚。<br>
	“去战斗吧，殴尽、斩尽、毙尽、掷尽、烧尽一切所见之人，而后得到救赎与永生。”
</p>
<p align="center">
	大屏幕上的人影开始模糊了。
</p>
<p align="center">
	“你们每个人都将得到一些物品。面包、矿泉水，这些是人人都有的。<br>
	“武器，和另外两个物品，是随机的。<br>
	“这也是一种考验，毕竟不是每个人都能得到称手的武器。<br>
	“记住，装备不是最重要的，你的实力才是决定你命运的关键。<br>
	“注意时间，不要在禁区滞留，或者做出类似的阴沟里翻船的事。失去每一位可能的获胜者都是我的损失。”
</p>
<p align="center">
	“下面，排好队伍，按顺序领取你们的物品，然后离开这里。”<br>
	“江湖险恶，祝你们好运。”
</p>

<form method="post"  action="game.php" style="margin: 0px">
<input type="hidden" name="mode" value="main">
<input type="submit" name="enter" value="再次进行冒险">
</form>

{template footer}