{template header}
<div class="subtitle" >{lang gamestart}</div>
<p align="center">
这就是虚拟世界吗？<br>
似乎跟现实没什么大区别的样子……<br>
同行的战友面无表情地摆弄着枪械，似乎对此早已习惯。
</p>
<p align="center">
<span class="linen">“你们好，欢迎来到‘齿轮’。”</span><br>
人未到，声先至。伴随着甜美的话语声出现的，是一位娇柔的少女。<br>
<span class="linen">“我是科学监察官——斯特鲁加茨基娅，你们也可以叫我莱卡。”</span><br>
<span class="linen">“在接下来的训练中，我将作为技术总监，为各位提供支持。”</span>
</p>
<p align="center">
<img border="0" src="./img/story_3.jpg">
</p>
<p align="center">
<span class="linen">“无关的话就不多说了，相信各位也等待得不耐烦了。”<br>
“那么，让我们马上开始吧。”
</span>
</p>
<div align="center">
■ LIFE GAME TRIAL ■<br>
<font color="#fff" face="黑体" size="7">
<span id="br" style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
莱 卡 大 逃 杀</span>
</font>
 </div>
<p align="center">
	<span class="linen">
	“也许很多人都听过，但我仍要提醒一些事情：<br>
	“进入战场时，每个人都将得到一些物品。<br>
	“补给都相同，武器和另外两个物品则是随机的。<br>
	“注意时间，不要在禁区滞留，或者做出类似的阴沟里翻船的事。”
	</span>
</p>
<p align="center">
<span class="linen">
	“从前面的出口可以进入战场。”<br>
	“祝各位享受虚拟战争的乐趣。”</span>
</p>

<form method="post"  action="game.php" style="margin: 0px">
<input type="hidden" name="mode" value="main">
<input type="submit" name="enter" value="{lang enterbattlefield}">
</form>

{template footer}