<table style="border:0;cellspacing:0;cellpadding:0;align:center;vertical-align:top;width:300px;">
	<tr><!--HP行-->
		<td class="td1" style="width:300px;height:20px;">
			<div id="hpbar" style="text-align:left">
				<img src="img/hpbar.gif" border="0" style="width:{$pdata['display']['hpimgwidth']}%;height:100%;left:0" />
				<div id="hpval" style="width:140px;text-align:right;position:absolute;left:0px;top:0px;z-index:1">
					$pdata['hp']
				</div>
				<div style="width:20px;position:absolute;left:141px;top:0px">/</div>
				<div id="mhpval" style="width:140px;text-align:left;position:absolute;right:0px;top:0px;z-index:1">
					$pdata['mhp']
				</div>
			</div>
		</td>
	</tr>	
	<tr><!--SP行-->
		<td class="td2" style="width:300px;height:20px;">
			<div id="spbar" style="text-align:left">
				<img src="img/spbar.gif" border="0" style="width:{$pdata['display']['spimgwidth']}%;height:100%;left:0" />
				<div id="spval" style="width:140px;text-align:right;position:absolute;left:0px;top:0px;z-index:1">
					$pdata['sp']
				</div>
				<div style="width:1wpx;position:absolute;left:141px;top:0px">/</div>
				<div id="mspval" style="width:140px;text-align:left;position:absolute;right:0px;top:0px;z-index:1">
					$pdata['msp']
				</div>
			</div>
		</td>
	</tr>
	<tr><!--头像和称号行-->
		<td class="td2">
			<table style="border:0;cellspacing:0;cellpadding:0;align:left;width:300px;height:80px;table-layout:fixed">
				<tr>
					<td width="140px" height="80px" rowspan="3">
						<div id="iconImg">
							<img src="img/{$pdata['display']['iconImg']}" border="0" style="width:140;height:80;<!--{if $pdata['hp']==0}-->filter:Xray()<!--{/if}-->" />
						</div>
					</td>
					<td colspan="2">
						<div>{$pdata['display']['gamehonourinfo']}</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div><span class="nameline">{$pdata['name']}</span></div>
					</td>
				</tr>
				<tr>
					<td width=50%>
						<div>{$sexinfo[$pdata['gd']]}<!--{if $pdata['type']==0}-->{$pdata['sNo']}号<!--{/if}--></div>
					</td>
					<td width=50%>
						<div>{lang level} <span class="val">Lv. $pdata['lvl']</span></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><!--受伤部位行-->
		<td class="td2" height="30px">
			<div id="inf">
				{lang inf} $pdata['display']['infwords']
			</div>
		</td>
	</tr>
	<tr><!--基本信息行-->
		<td class="td2">
			<div>
				<table style="border:0;cellspacing:0;cellpadding:0;align:left;width:300px;height:120px;table-layout:fixed">
					<tr>
						<td width="50%">
							<div>{lang exp} <span class="val">$pdata['exp']</span> / $pdata['display']['upexp']</div>
						</td>
						<td width="50%">
							<div>{lang money} <span class="val">$pdata['money']{lang moneyunit}</span></div>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<div>{lang killnum} <span class="val">$pdata['killnum']</span></div>
						</td>
						<td width="50%">
							<div>{lang rage} <span class="val">$pdata['rage']</span></div>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<div>{lang pose} <span class="val">$poseinfo[$pdata['pose']]</span></div>
						</td>
						<td width="50%">
							<div>{lang tactic} <span class="val">$tacinfo[$pdata['tactic']]</span></div>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<div>{lang club} <span class="val">$clubinfo[$pdata['club']]</span></div>
						</td>
						<td width="50%">
							<div>占位符</div>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<div>{lang att} <span class="val">$pdata['att']</span> + <span class="val">$pdata['wepe']</span></div>
						</td>
						<td width="50%">
							<div>{lang def} <span class="val">$pdata['def']</span> + <span class="val">$pdata['display']['ardef']</span></div>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
	<tr><!--熟练度行-->
		<td class="td2" height="20px">
			<div id="skill">
				熟练度 
				{lang wp} <span class="val">$pdata['wp']</span> 
				{lang wk} <span class="val">$pdata['wk']</span> 
				{lang wg} <span class="val">$pdata['wg']</span> 
				{lang wc} <span class="val">$pdata['wc']</span> 
				{lang wd} <span class="val">$pdata['wd']</span> 
				{lang wf} <span class="val">$pdata['wf']</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2" style="height:65px;vertical-align:top">
			<div id="technique" style="height:65px;vertical-align:top;overflow:auto;">
				{lang technique}<br>$pdata['display']['techwords']
			</div>
		</td>
	</tr>
</table>