<table border="1" width="550" height="320" cellspacing="0" cellpadding="0"  valign="middle">
  <TR class="b1">
	<TD width="49" height="19" class=b1></TD>
	<TD width="49" height="19" class=b1><div class=nttx>01</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>02</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>03</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>04</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>05</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>06</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>07</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>08</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>09</div></TD>
	<TD width="49" height="19" class=b1><div class=nttx>10</div></TD>
	</TR>
	<TR>
	<TD class=b1><div class=nttx>A</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[1]</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	</TR>
  <TR>
	<TD class=b1><div class=nttx>B</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[2]</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>C</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[3]</div></TD>
	<TD class=b2><div class=nttx>$rinfo[4]</div></TD>
	<TD class=b2><div class=nttx>$rinfo[5]</div></TD>
	<TD class=b2><div class=nttx>$rinfo[6]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>D</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[7]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[0]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>E</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[8]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[9]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[11]</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>F</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[12]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[10]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[13]</div></TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>G</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[14]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[15]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>H</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[16]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[17]</div></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><div class=nttx>I</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[18]</div></TD>
	<TD class=b2><div class=nttx>$rinfo[19]</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[20]</div></TD>
  <TR>
	<TD class=b1><div class=nttx>J</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2><div class=nttx>$rinfo[21]</div></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
</table>
