<table border="1" width="550" height="320" cellspacing="0" cellpadding="0"  valign="middle">
  <TR class="b1">
	<TD width="49" height="19" class=b1></TD>
	<TD width="49" height="19" class=b1><B>01</B></TD>
	<TD width="49" height="19" class=b1><B>02</B></TD>
	<TD width="49" height="19" class=b1><B>03</B></TD>
	<TD width="49" height="19" class=b1><B>04</B></TD>
	<TD width="49" height="19" class=b1><B>05</B></TD>
	<TD width="49" height="19" class=b1><B>06</B></TD>
	<TD width="49" height="19" class=b1><B>07</B></TD>
	<TD width="49" height="19" class=b1><B>08</B></TD>
	<TD width="49" height="19" class=b1><B>09</B></TD>
	<TD width="49" height="19" class=b1><B>10</B></TD>
	</TR>
	<TR>
	<TD class=b1><B>A</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>$rinfo[1]</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	</TR>
  <TR>
	<TD class=b1><B>B</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[2]</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>C</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[3]</TD>
	<TD class=b2>$rinfo[4]</TD>
	<TD class=b2>$rinfo[5]</TD>
	<TD class=b2>$rinfo[6]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>D</B></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[7]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[0]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>E</B></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[8]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[9]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[11]</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>F</B></TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[12]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[10]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[13]</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>G</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[14]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[15]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>H</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[16]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[17]</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
  <TR>
	<TD class=b1><B>I</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[18]</TD>
	<TD class=b2>$rinfo[19]</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>&nbsp;</TD>
	<TD class=b2>$rinfo[20]</TD>
  <TR>
	<TD class=b1><B>J</B></TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b2>$rinfo[21]</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
	<TD class=b3>&nbsp;</TD>
</table>
