
<table  height=540px width=630px border="0" cellspacing="0" cellpadding="0" valign="middle">
<tbody>
	<tr>
		<td class=b2 height=20px width=130px><div class=nttx></div></td>
		<td class=b2 width=60px><div class=nttx>{$typeinfo[0]}</div></td>
		<td class=b2 width=60px><div class=nttx>{$typeinfo[1]}</div></td>
		<td class=b2 width=60px><div class=nttx>{$typeinfo[2]}</div></td>
		<td class=b2 width=80px><div class=nttx>{$typeinfo[3]}</div></td>
		<td class=b2 width=80px><div class=nttx>{$typeinfo[4]}</div></td>
		<td class=b2 width=60px><div class=nttx>{$typeinfo[5]}</div></td>
		<td class=b2 width=60px><div class=nttx>{$typeinfo[6]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[0]}</div></td>
		<td class=b3><div class=nttx>{$pnum[0]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[0]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[0]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[0]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[0]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[0]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[0]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[1]}</div></td>
		<td class=b3><div class=nttx>{$pnum[1]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[1]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[1]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[1]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[1]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[1]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[1]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[2]}</div></td>
		<td class=b3><div class=nttx>{$pnum[2]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[2]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[2]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[2]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[2]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[2]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[2]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[3]}</div></td>
		<td class=b3><div class=nttx>{$pnum[3]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[3]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[3]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[3]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[3]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[3]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[3]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[4]}</div></td>
		<td class=b3><div class=nttx>{$pnum[4]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[4]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[4]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[4]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[4]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[4]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[4]}</div></td>
	</tr>
		<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[5]}</div></td>
		<td class=b3><div class=nttx>{$pnum[5]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[5]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[5]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[5]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[5]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[5]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[5]}</div></td>
	</tr>
		<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[6]}</div></td>
		<td class=b3><div class=nttx>{$pnum[6]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[6]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[6]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[6]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[6]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[6]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[6]}</div></td>
	</tr>
		<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[7]}</div></td>
		<td class=b3><div class=nttx>{$pnum[7]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[7]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[7]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[7]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[7]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[7]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[7]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[8]}</div></td>
		<td class=b3><div class=nttx>{$pnum[8]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[8]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[8]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[8]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[8]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[8]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[8]}</div></td>
	</tr>
	<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[9]}</div></td>
		<td class=b3><div class=nttx>{$pnum[9]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[9]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[9]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[9]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[9]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[9]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[9]}</div></td>
	</tr>
		<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[10]}</div></td>
		<td class=b3><div class=nttx>{$pnum[10]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[10]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[10]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[10]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[10]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[10]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[10]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[11]}</div></td>
		<td class=b3><div class=nttx>{$pnum[11]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[11]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[11]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[11]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[11]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[11]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[11]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[12]}</div></td>
		<td class=b3><div class=nttx>{$pnum[12]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[12]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[12]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[12]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[12]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[12]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[12]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[13]}</div></td>
		<td class=b3><div class=nttx>{$pnum[13]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[13]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[13]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[13]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[13]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[13]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[13]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[14]}</div></td>
		<td class=b3><div class=nttx>{$pnum[14]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[14]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[14]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[14]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[14]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[14]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[14]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[15]}</div></td>
		<td class=b3><div class=nttx>{$pnum[15]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[15]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[15]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[15]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[15]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[15]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[15]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[16]}</div></td>
		<td class=b3><div class=nttx>{$pnum[16]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[16]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[16]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[16]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[16]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[16]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[16]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[17]}</div></td>
		<td class=b3><div class=nttx>{$pnum[17]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[17]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[17]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[17]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[17]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[17]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[17]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[18]}</div></td>
		<td class=b3><div class=nttx>{$pnum[18]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[18]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[18]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[18]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[18]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[18]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[18]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[19]}</div></td>
		<td class=b3><div class=nttx>{$pnum[19]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[19]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[19]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[19]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[19]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[19]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[19]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[20]}</div></td>
		<td class=b3><div class=nttx>{$pnum[20]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[20]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[20]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[20]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[20]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[20]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[20]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[21]}</div></td>
		<td class=b3><div class=nttx>{$pnum[21]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[21]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[21]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[21]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[21]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[21]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[21]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[22]}</div></td>
		<td class=b3><div class=nttx>{$pnum[22]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[22]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[22]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[22]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[22]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[22]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[22]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[23]}</div></td>
		<td class=b3><div class=nttx>{$pnum[23]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[23]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[23]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[23]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[23]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[23]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[23]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[24]}</div></td>
		<td class=b3><div class=nttx>{$pnum[24]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[24]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[24]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[24]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[24]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[24]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[24]}</div></td>
	</tr>
			<tr>
		<td class=b2  height=20px><div class=nttx>{$plsinfo[25]}</div></td>
		<td class=b3><div class=nttx>{$pnum[25]}</div></td>
		<td class=b3><div class=nttx>{$npc1num[25]}</div></td>
		<td class=b3><div class=nttx>{$npc2num[25]}</div></td>
		<td class=b3><div class=nttx>{$npc3num[25]}</div></td>
		<td class=b3><div class=nttx>{$npc4num[25]}</div></td>
		<td class=b3><div class=nttx>{$npc5num[25]}</div></td>
		<td class=b3><div class=nttx>{$npc6num[25]}</div></td>
	</tr>
</tbody>
</table>
