<TABLE border="0" cellspacing="0" cellpadding="0">
	<TR height="20">
		<TD class="b1"><DIV class=nttx>UID</div></TD>
		<TD class="b1"><DIV class=nttx>{lang name}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang gender}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang icon}</div></TD>
		<TD class="b1" width="240"><DIV class=nttx>{lang motto}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang credits}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang honour}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang validtimes}</div></TD>
		<TD class="b1"><DIV class=nttx>{lang lastgame}</div></TD>
	</TR>
	<!--{loop $rankdata $urdata}-->
	<TR height="20">
		<TD class="b2"><DIV class=nttx>$urdata['uid']</div></TD>
		<TD class="b3"><DIV class=nttx>$urdata['username']</div></TD>
		<TD class="b3"><DIV class=nttx>$sexinfo[$urdata['gender']]</div></TD>
		<TD class="b3"><DIV class=nttx><IMG src="img/$urdata['img']" width="140" height="80" border="0" align="absmiddle"></div></TD>
		<TD class="b3"><DIV class=nttx>$urdata['motto']</div></TD>
		<TD class="b3"><DIV class=nttx><span class="yellow">$urdata['credits']</span></div></TD>
		<TD class="b3"><DIV class=nttx>$urdata['honour']</div></TD>
		<TD class="b3"><DIV class=nttx>$urdata['validtimes']</div></TD>
		<TD class="b3"><DIV class=nttx>$urdata['lastgame']</div></TD>
	</TR>
	<!--{/loop}-->
</TABLE>
