<input type="hidden" id="mode" name="mode" value="$sendmode">
<input type="hidden" id="command" name="command" value="">
<table style="width:500px;">
	<tr>
		<td class="td1" style="height:20px">
			<div>$inotice</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<!--{if $mode == 'senditem'}-->
					<div class="itmbtn">传递赠言：<input size="30" type="text" name="message" maxlength="60"></div>
				<!--{/if}-->
				<div class="itmbtn" onclick="$('command').value='back';postCommand();">{lang back}</div>
				<!--{loop array(1,2,3,4,5,6) $i}-->
					<!--{if $pdata['itms'.$i]}-->
					<div class="itmbtn" onclick="$('command').value='itm{$i}';postCommand();">$pdata['itm'.$i]/$pdata['itme'.$i]/$pdata['itms'.$i]</div>
					<!--{/if}-->
				<!--{/loop}-->
			</div>
		</td>
	</tr>
</table> 