<input type="hidden" id="mode" name="mode" value="shop">
<input type="hidden" id="command" name="command" value="">
<input type="hidden" name="shoptype" value="$shop">
<table style="width:500px">
	<tr>
		<td class="td1" colspan="2" style="height:25px">
			<div>想购买什么商品？</div>
		</td>
	</tr>
	<tr>
		<td class="td2" colspan="2">
			<div>
				<div class="cmdbtn" onclick="$('command').value='menu';postCommand();">{lang quitshop}</div>
				<div class="cmdbtn" onclick="$('command').value='shop';postCommand();">{lang backtolist}</div>
				<!--{loop $itemdata $idata}-->
				<!--{if $idata['sid']}-->
					<input type="radio" name="command" id="buy$idata['sid']" value="$idata['sid']"><a onclick=sl("buy$idata['sid']"); href="javascript:void(0);">$idata['item']/$idata['itmk_words']/$idata['itme']/$idata['itms']<!--{if $idata['itmsk_words']}-->/$idata['itmsk_words']<!--{/if}--> 【价:$idata['price'],数:$idata['num']】</a><br>
				<!--{/if}-->
				<!--{/loop}-->
				<!--{if $shop==1||$shop==2||$shop==6||$shop==7||$shop==8||$shop==10||$shop==11||$shop==12}-->
				请输入购买数量：<input type="text" name="buynum" value="1" size="5" maxlength="5">
				<!--{else}-->
				<input type="hidden" name="buynum" value="1">
				<!--{/if}-->
				<div class="cmdbtn" onclick="$('command').name='';postCommand();">{lang ok}</div>
			</div>
		</td>
	</tr>
</table>