想要做什么？<br>

<input type="hidden" name="mode" value="special">
<input type="radio" name="command" id="menu" value="menu" checked><a onclick=sl('menu'); href="javascript:void(0);" >返回</a><br><br>
<!--{if (strpos($pdata['inf'],'h') !== false || strpos($pdata['inf'],'b') !== false || strpos($pdata['inf'],'a') !== false || strpos($pdata['inf'],'f') !== false) && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infA" value="infA"><a onclick=sl('infA'); href="javascript:void(0);" ><span class="red">包扎全身伤口</span></a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'b') !== false}-->
<input type="radio" name="command" id="infb" value="infb"><a onclick=sl('infb'); href="javascript:void(0);" >包扎{$infdata['b']['short']}部伤口</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'h') !== false}-->
<input type="radio" name="command" id="infh" value="infh"><a onclick=sl('infh'); href="javascript:void(0);" >包扎{$infdata['h']['short']}部伤口</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'a') !== false}-->
<input type="radio" name="command" id="infa" value="infa"><a onclick=sl('infa'); href="javascript:void(0);" >包扎{$infdata['a']['short']}部伤口</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'f') !== false}-->
<input type="radio" name="command" id="inff" value="inff"><a onclick=sl('inff'); href="javascript:void(0);" >包扎{$infdata['f']['short']}部伤口</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'p') !== false && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infp" value="infp"><a onclick=sl('infp'); href="javascript:void(0);" >治疗{$infdata['p']['name']}状态</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'u') !== false && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infu" value="infu"><a onclick=sl('infu'); href="javascript:void(0);" >治疗{$infdata['u']['name']}状态</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'i') !== false && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infi" value="infi"><a onclick=sl('infi'); href="javascript:void(0);" >治疗{$infdata['i']['name']}状态</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'e') !== false && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infe" value="infe"><a onclick=sl('infe'); href="javascript:void(0);" >治疗{$infdata['e']['name']}状态</a><br>
<!--{/if}-->
<!--{if strpos($pdata['inf'],'w') !== false && $pdata['club'] == 16}-->
<input type="radio" name="command" id="infw" value="infw"><a onclick=sl('infw'); href="javascript:void(0);" >治疗{$infdata['w']['name']}状态</a><br>
<!--{/if}-->

 

