<input type="hidden" id="mode" name="mode" value="special">
<input type="hidden" id="command" name="command" value="">
<table style="width:500px">
	<tr>
		<td class="td1" style="height:20px">
			<div>
				想要做什么？
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="itmbtn" onclick="$('mode').value='command';$('command').value='menu';postCommand();">{lang back}</div>
				<!--{if (strpos($pdata['inf'],'h') !== false || strpos($pdata['inf'],'b') !== false || strpos($pdata['inf'],'a') !== false || strpos($pdata['inf'],'f') !== false) && $pdata['club'] == 16}-->
					<div class="itmbtn" onclick="$('command').value='infA';postCommand();">包扎全身伤口</div>
				<!--{/if}-->
				<!--{loop array('h','b','a','f') $p}-->
					<!--{if strpos($pdata['inf'],$p) !== false}-->
						<div class="itmbtn" onclick="$('command').value='inf$p';postCommand();">包扎{$infdata[$p]['short']}部伤口</div>
					<!--{/if}-->
				<!--{/loop}-->
				<!--{if $pdata['club'] == 16}-->
					<!--{loop array('p','u','i','e','w') $i}-->
						<!--{if strpos($pdata['inf'],$i) !== false}-->
							<div class="itmbtn" onclick="$('command').value='inf$i';postCommand();">治疗{$infdata[$i]['name']}状态</div>
						<!--{/if}-->
					<!--{/loop}-->
				<!--{/if}-->
			</div>
		</td>
	</tr>
</table>