<input type="hidden" id="mode" name="mode" value="$mval">
<input type="hidden" id="command" name="command" value="">
<!--{if $mval == 'item'}--><input type="hidden" name="usemode" value="poison"><input type="hidden" name="itmp" value="$itmn"><!--{/if}-->
<table style="width:500px">
	<tr>
		<td class="td1" style="height:20px">
			<div>
				<!--{if $mval == 'special'}-->想检查哪个补给品？<!--{elseif $mval == 'item'}-->想给哪个补给品下毒？<!--{/if}-->
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2">
			<div>
				<div class="itmbtn" onclick="$('mode').value='command';$('command').value='back';postCommand();" >{lang back}</div>
				<!--{loop array(1,2,3,4,5,6) $i}-->
					<!--{if $pdata['itms'.$i] && ((strpos($pdata['itmk'.$i],'P') === 0) || (strpos($pdata['itmk'.$i],'H') === 0))}-->
						<div class="itmbtn" <!--{if $mval == 'special'}-->onclick="$('command').value='chkp$i';postCommand();"<!--{elseif $mval == 'item'}-->onclick="$('command').value='itm$i';postCommand();"<!--{/if}--> >$pdata['itm'.$i]</div>
					<!--{/if}-->
				<!--{/loop}-->
			</div>
		</td>
	</tr>
</table>