想检查什么？<br>

<input type="hidden" name="mode" value="special">
<input type="radio" name="command" id="menu" value="menu" checked><a onclick=sl('menu'); href="javascript:void(0);" >返回</a><br><br>
<!--{if $pdata['itms1'] && ((strpos($pdata['itmk1'],'P') === 0) || (strpos($pdata['itmk1'],'H') === 0))}-->
<input type="radio" name="command" id="chkp1" value="chkp1"><a onclick=sl('chkp1'); href="javascript:void(0);" >$pdata['itm1'] </a><br>
<!--{/if}-->
<!--{if $pdata['itms2'] && ((strpos($pdata['itmk2'],'P') === 0) || (strpos($pdata['itmk2'],'H') === 0))}-->
<input type="radio" name="command" id="chkp2" value="chkp2"><a onclick=sl('chkp2'); href="javascript:void(0);" >$pdata['itm2'] </a><br>
<!--{/if}-->
<!--{if $pdata['itms3'] && ((strpos($pdata['itmk3'],'P') === 0) || (strpos($pdata['itmk3'],'H') === 0))}-->
<input type="radio" name="command" id="chkp3" value="chkp3"><a onclick=sl('chkp3'); href="javascript:void(0);" >$pdata['itm3'] </a><br>
<!--{/if}-->
<!--{if $pdata['itms4'] && ((strpos($pdata['itmk4'],'P') === 0) || (strpos($pdata['itmk4'],'H') === 0))}-->
<input type="radio" name="command" id="chkp4" value="chkp4"><a onclick=sl('chkp4'); href="javascript:void(0);" >$pdata['itm4'] </a><br>
<!--{/if}-->
<!--{if $pdata['itms5'] && ((strpos($pdata['itmk5'],'P') === 0) || (strpos($pdata['itmk5'],'H') === 0))}-->
<input type="radio" name="command" id="chkp5" value="chkp5"><a onclick=sl('chkp5'); href="javascript:void(0);" >$pdata['itm5'] </a><br>
<!--{/if}-->
<!--{if $pdata['itms6'] && ((strpos($pdata['itmk6'],'P') === 0) || (strpos($pdata['itmk6'],'H') === 0))}-->
<input type="radio" name="command" id="chkp6" value="chkp6"><a onclick=sl('chkp6'); href="javascript:void(0);" >$pdata['itm6'] </a><br>
<!--{/if}-->