<input type="hidden" id="mode" name="mode" value="special">
<input type="hidden" id="command" name="command" value="">
<table>
	<tr>
		<td class="td1" width="500px">
			<div>
				想学习哪个技能？
			</div>
		</td>
	</tr>
	<tr>
		<td class="td2" width="500px">
			<div>
				<div class="cmdbtn" onclick="$('command').value='menu';postCommand();">{lang back}</div>
				<!--{loop $newtech $cstr $tinfo}-->
					<div class="cmdbtn" onclick="$('command').value='$cstr';postCommand();">$tinfo</div>
				<!--{/loop}-->
			</div>
		</td>
	</tr>
</table>