
<table align="center">
	<tr>
		<td>{lang credits}</td>
		<td><span class="yellow">$credits</span></td>
	</tr>
	<tr>
		<td>{lang validtimes}</td>
		<td><span class="yellow">$validtimes</span></td>
	</tr>
<!--	<tr>
		<td>{lang killnum}</td>
		<td><span class="yellow">$killnum</span></td>
	</tr>-->
	<!--{if $ustate == 'valid'}-->
	<tr>
		<td>{lang select_honour}</td>
		<td>
			<input type="radio" name="gamehonour" id="nohonour" value="" checked><a onclick=sl('nohonour'); href="javascript:void(0);" >{lang nohonour}</a><br />
			<!--{if !empty($select_honour)}-->
			<br />
			<!--{loop $select_honour $hstr $hinfo}-->
				<input type="radio" name="gamehonour" id="$hstr" value="$hstr"><a onclick=sl('$hstr'); href="javascript:void(0);" >$hinfo</a><br />
			<!--{/loop}-->
			<!--{/if}-->
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<td>{lang honour}</td>
		<td>$honourwords</td>
	</tr>
	<!--{/if}-->
</table> 