<table align="center">
	<tr>
		<td>{lang motto}</td>
		<td><textarea cols="35" rows="3" style="overflow:auto" name="motto" value="">$motto</textarea><br />{lang motto_comment}</td>
	</tr>
	<tr>
		<td>{lang criticalmsg}</td>
		<td><input size="35" type="text" name="criticalmsg" maxlength="60" value="{$criticalmsg}"><br />{lang criticalmsg_comment}</td>
	</tr>
	<tr>
	<tr>
		<td>{lang killmsg}</td>
		<td><input size="35" type="text" name="killmsg" maxlength="60" value="{$killmsg}"><br />{lang killmsg_comment}</td>
	</tr>
	<tr>
		<td>{lang lastword}</td>
		<td><input size="35" type="text" name="lastword" maxlength="60" value="{$lastword}"><br />{lang lastword_comment}</td>
	</tr>
</table> 