{template header}




<div class="subtitle" >{lang validover}</div>

<table border="1" cellspacing="0" align="center">
  <tbody>
	<tr><td class="b1">{lang name}</td><td colspan="3" class="b3">$cuser</td></tr>
	<tr><td class="b1">{lang sNo}</td><td colspan="3" class="b3">$sexinfo[$gd] $sNo 号</td></tr>
	<tr><td class="b1">{lang club}</td><td colspan="3" class="b3">$clubinfo[$club]</td></tr>
	<tr><td class="b1">{lang hp}</td><td class="b3">100/100</td><td width="39" class="b1">{lang sp}</td><td class="b3">300</td></tr>
	<tr><td class="b1">{lang att}</td><td class="b3">95</td><td class="b1">{lang wep}</td><td class="b3">$wep</td></tr>
	<tr><td class="b1">{lang def}</td><td class="b3">105</td><td class="b1">{lang arb}</td><td class="b3">$arb</td></tr>
  </tbody>
</table>
<p align="center">开始为 $cuser 建立档案中……<br>
	<img border="0" src="./img/i_inada.gif" width="70" height="70"><br><br>
“您好！我是本次ACG祭的工作人员，现在为您创建您的虚拟身份。”<br>
“创建完成！您可以凭这个身份进行COSPLAY了。”<br>
“会场入口在那个方向，ACG祭的开幕仪式已经开始了，请您尽快入场。”<br>
<br><br>

<form method="post"  action="valid.php" style="margin: 0px">
<input type="hidden" name="mode" value="notice">
<input type="submit" name="enter" value="{lang enternotice}">
</form>
</p>
{template footer}