{template header}




<div class="subtitle" >{lang validover}</div>
<p><img border="0" src="img/story_0.gif" style="align:center"></p>
<table border="0" cellspacing="0" align="center">
  <tbody>
	<tr><td class="b1"><DIV class=nttx>{lang name}</div></td><td colspan="3" class="b3"><DIV class=nttx>$cuser</div></td></tr>
	<tr><td class="b1"><DIV class=nttx>{lang sNo}</div></td><td colspan="3" class="b3"><DIV class=nttx>$sexinfo[$gd] $sNo 号</div></td></tr>
	<tr><td class="b1"><DIV class=nttx>{lang club}</div></td><td colspan="3" class="b3"><DIV class=nttx>$clubinfo[$club]</div></td></tr>
	<tr><td class="b1"><DIV class=nttx>{lang hp}</div></td><td class="b3"><DIV class=nttx>$hp / $mhp</div></td><td width="39" class="b1"><DIV class=nttx>{lang sp}</div></td><td class="b3"><DIV class=nttx>$sp / $msp</div></td></tr>
	<tr><td class="b1"><DIV class=nttx>{lang att}</div></td><td class="b3"><DIV class=nttx>$att</div></td><td class="b1"><DIV class=nttx>{lang wep}</div></td><td class="b3"><DIV class=nttx>$wep</div></td></tr>
	<tr><td class="b1"><DIV class=nttx>{lang def}</div></td><td class="b3"><DIV class=nttx>$def</div></td><td class="b1"><DIV class=nttx>{lang arb}</div></td><td class="b3"><DIV class=nttx>$arb</div></td></tr>
  </tbody>
</table>
<p align="center">“$cuser 对吧？正在为您创建虚拟身份……<br>
“创建完成！您可以凭这个身份参加我们的特别活动了。
<br>
“会场入口就在前面。常磐祭的开幕仪式就要开始了，请您尽快入场。”<br><br>

<form method="post"  action="valid.php" style="margin: 0px">
<input type="hidden" name="mode" value="notice">
<input type="submit" name="enter" value="{lang enternotice}">
</form>
</p>
{template footer}