<table align="center">
	<tr>
		<td>
			<div id="main">
				{template profile}
			</div>
		</td>
		<td>
			<table style="border:0; width:400; height:400">
				<tr>
					<td class="td1" height="20">
						<div><span class="val">系统状况</div>
					</td>
				</tr>
				<tr>
					<td class="td1" style="vertical-align:top;">
						<div>
							第 $gid 回生存游戏<br>
							参加人数： $vnum 人<br>
							胜利方式： $gwin[$wmode]<br>
							游戏进行时间：$gdate<br>
							游戏开始时间：$gsdate<br>           
							游戏结束时间：$gedate<br>
							本场最高伤害者： $hdp ($hdmg)<br>
							本场最多杀人者： $hkp ($hkill)<br>
							<div class="cmdbtn" onclick="location.href='winner.php'">{lang back}</div>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="td2">
			{template eqp}
		</td>
	</tr>
</table>
